@mixin tour--announcement {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 235px);
    cursor: default;

    .announcement--block {
        position: absolute;
        padding: .75rem 2rem;
        background-color: $brand-success;
        color: #fff;
        //text-transform: uppercase;
        box-shadow: $box-shadow;
    }

    [data-tooltipped] {
        cursor: pointer;
    }
}
