@mixin tour--date {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: $brand-danger;
    width: 60px;
    height: 60px;
    //padding: 14px 0;
    border-radius: 100%;
    color: #FFFFFF;
    //font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    //font-family: 'Roboto-Light', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    div:nth-child(2) {
        &:after {
            content: '';
            position: absolute;
            height: 1px;
            width: 10px;
            background-color: #fff;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            //border-radius: 100%;
        }
    }
    span {
        display: block;
        line-height: 1;
        font-size: 14px;
    }

    &.__is-placeholder {
        span {
            position: absolute;
            top: -1px;
            left: -1px;
        }
    }

    .day {
        font-size: 18px;
        line-height: 16px;
    }

    .month {
        font-size: 10px;
        text-transform: uppercase;
    }

    &.day-month {
        width: 55px;
        height: 55px;
        //padding: 16px 0;

        div {
            font-size: 16px;
        }
    }
}
