@mixin tour--image {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: calc(100% - 2rem);
    overflow: hidden;

    img {
        height: 100%;
        @include media-breakpoint-down(xs) {
            height: 100px;
        }
    }
}
