@mixin tour--img {
    //visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: $card-radius;
    border-top-right-radius: $card-radius;
    position: relative;
    .card--description {
        position: absolute;
        top: 1rem;
        width: 100%;
    }
}
