@mixin tour--logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: calc(100% - 2rem);
    overflow: hidden;

    img {
        height: 100%;
        @include media-breakpoint-down(xs) {
            height: 100px;
        }
    }

    &.__centered {
        border: 4px solid #fff;
        border-radius: 100%;
        height: initial;
        top: inherit;
        z-index: 1;

        &.__100px {
            bottom: -52px;
            left: calc(50% - 52px);
            .__logo {
                width: 100px;
                height: 100px;
            }
        }
        &.__50px {
            bottom: -27px;
            left: calc(50% - 27px);
            .__logo {
                width: 100px;
                height: 100px;
            }
        }
    }
}
