@mixin tour--price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //d-flex justify-content-between align-items-center

    //font-family: 'Roboto-Light', sans-serif;
    //font-weight: bold;
    font-size: 20px;

    i {
        font-size: 20px;
    }

    [data-tooltipped] i {
        color: $text-muted;
        cursor: pointer;
        font-size: 14px;
        font-weight: $font-weight-regular;
        margin: 0 5px;
    }

    .__announce {
        font-size: 14px;
        color: $text-muted;
        [data-tooltipped] i {
            font-size: 12px;
        }
    }

    .card__discount {
        font-size: 14px;
        color: $brand-black;
        margin-left: 8px;
        position: relative;

        &:after {
            content: "";
            width: calc(100% + 10px);
            height: 1px;
            background: $brand-danger;
            position: absolute;
            bottom: 8px;
            left: -5px;
            transform: rotate(8deg);
        }

        &:before {
            content: "";
            width: calc(100% + 10px);
            height: 1px;
            background: $brand-danger;
            position: absolute;
            bottom: 8px;
            left: -5px;
            transform: rotate(172deg);
        }
    }
}
