@mixin tour--socials {
    display: flex;
    justify-content: space-between;
    width: 100%;

    li {
        background-color: transparent;
        padding: 0;
        border: none;
    }
    .btn:hover {
        background-color: rgba(153, 153, 153, 0.2);
    }

    .btn:focus {
        box-shadow: none;
    }
    &.__centered.__100px {
        //margin-top: 5px;
        justify-content: flex-end;
    }
}
