@mixin tour--social {
    position: absolute;
    bottom: 5px;
    right: 10px;
    @include media-breakpoint-down(sm) {
        //bottom: 10px;
    }
    li {
        background-color: transparent;
        padding: 0;
        border: none;
    }
    .btn:hover {
        background-color: rgba(153, 153, 153, 0.2);
    }

    .btn:focus {
        box-shadow: none;
    }
}
