@mixin tour--tag {
    position: absolute;
    top: 10px;
    left: 10px;

    .badge-default {
        font-weight: $font-weight-base;
        color: #fff !important;
        font-size: $font-size-base !important;
    }
}
