@mixin is-disabled {
    pointer-events: none;
    position: relative;
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: #fff;
        opacity: .5;
        left: 0;
        z-index: 0;
    }
}
