@mixin rating-icons {
    .fas.fa-star {
        color: #FF8970;
        //color: #D4C573;
    }
    .far.fa-star {
        opacity: .3;
        color: #333;
        font-weight: 100;
    }
}

.rating-default {
    @include rating-icons;
}
