.accordion.is-faq {
    .card-header {
        padding: 0.5rem;
        &.is-open {
            button {
                &:hover,
                &:focus {
                    color: $brand-black;
                }
            }
            button .collapse-icon {
                transform: rotate(0);
            }
        }
    }
    .markdown-container p:last-child {
        margin-bottom: 0;
    }
    button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        color: $brand-black;
        text-transform: uppercase;
        font-weight: bold;
        .collapse-icon {
            transition: $transition-base;
            transform: rotate(45deg);
        }
        span:not(.collapse-icon) {
            text-align: left;
        }
        &:hover {
            color: lighten($brand-black, 20%);
        }
        &:focus {
            color: $brand-black;
        }
        &:hover,
        &:focus {
            text-decoration: none;
            box-shadow: none;
        }
    }
}
