// NOTE: the order of these styles DO matter

// Will edit everything selected including everything between a range of dates
.CalendarDay__selected_span {
  background: #82e0aa; //background
  color: white; //text
  border: 1px solid #ccc; //default styles include a border
}

// Will edit selected date or the endpoints of a range of dates
.CalendarDay__selected {
  background: #ccc;
  color: white;
}

// Will edit when hovered over. _span style also has this property
.CalendarDay__selected:hover {
  background: orange;
  color: white;
}

// Will edit when the second date (end date) in a range of dates
// is not yet selected. Edits the dates between your mouse and said date
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: brown;
}

.SingleDatePicker .DateInput_input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.SingleDatePicker, .SingleDatePickerInput, .DateInput {
  border-radius: 0.25rem;
  display: block;
  width: 100%;
  border: none;
}
.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
  background: $brand-primary;
  border: 1px double $brand-primary;
  color: #fff;
}
.CalendarDay__hovered_span, .CalendarDay__hovered_span:hover {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: #fff;
}
.CalendarDay__selected_span {
  background: $brand-info;
  color: #fff;
  border: 1px solid #ccc;
}
.CalendarDay__hovered_span {
  background: $brand-info;
  color: #fff;
  border: 1px solid #ccc;
}
.CalendarDay__today {
  color: $brand-primary;
  &.CalendarDay__selected {
    color: #fff;
    &.CalendarDay__blocked_calendar {
      color: $brand-primary;
    }
  }
}
.CalendarDay__blocked_calendar {
  background: #fff;
  border: 1px solid #e4e7e7;
  color: #cacccd;
  &:hover {
    background: #fff;
    border: 1px solid #e4e7e7;
    color: #cacccd;
  }
}

.DateInput_input {
  font-family: $font-family-base !important;
  font-weight: normal;
}
.DayPickerNavigation_button__horizontalDefault {
  border-radius: $input-border-radius;
}

.DateRangePicker {
  display: block;
  .DateRangePickerInput {
    display: flex;
    align-content: center;
    justify-content: space-between;
    //justify-content: space-evenly;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: $input-border-radius;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding-left: 0.5rem;
  }
  .DateInput {
    display: inline-block;
    width: 80px;
  }
  .DateInput_input {
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .DateRangePickerInput_arrow {
    width: 50px;
    text-align: center;
  }
  .DateInput_fang {
    display: none;
  }
  .DateInput_input__small {
    font-size: $font-size-base;
  }
  .DateInput_input__focused {
    border: none;
  }
  .DateInput__small:first-child {
    padding-left: 5px;
    input {
      text-align: left;
    }
  }
  .DateInput__small:last-child {
    padding-right: 5px;
    input {
      text-align: right;
    }
  }
}
