@import "/card/tour";


.card {
    border-radius: $card-radius;
    box-shadow: $card-shadow;
    border: none;
    transition: all 0.4s;
    position: relative;
    overflow: hidden;

    &:hover {
        box-shadow: $card-shadow-hover;
    }
}

.card--socials {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .list-group.--split-icons {
        display: flex;
        width: 100%;
    }
    li.list-group-item {
        padding: 0;

        button {
            &:focus {
                box-shadow: none;
            }
        }
    }


    //margin-bottom: -1rem;
    //margin-left: -10px;

    li {
        border: none;

        a {
            color: rgba(0, 0, 0, 0.5);
            transition: 200ms ease-in-out;

            &:hover {
                color: rgba(0, 0, 0, 0.8);
            }
        }
    }

    .btn {
        //background-color: #ccc3;
        //color: $brand-light;

        &:hover {
            background-color: darken(#ccc3, 20%);
        }
    }

    .card__social__number {
        font-size: 16px;

        &:hover {
            text-decoration: none;
        }
    }
}

.description--indent {
    font-size: 14px;
    text-indent: 1.5em;
    text-align: justify;
}

.card--date {
    @include card--date;
}

.card--img {
    @include card--img;

    .card--background {
        &.is-opacity {
            opacity: .3;
        }

        @include card--background_image;
    }

    .card--description {
        position: absolute;
        top: 1rem;
        width: 100%;
    }
}

.card--social {
    @include card--socials;
}

.card--price {
    @include card--price;
}

.card--organization {
    @include card--organization;
}
.card__logo {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
    }
}



.card--full_image {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: calc(100% - 2rem);

    img {
        height: 100%;
        @include media-breakpoint-down(xs) {
            height: 100px;
        }
    }

    &.__centered {
        border: 4px solid #fff;
        border-radius: 100%;
        height: initial;
        top: inherit;

        &.__100px {
            bottom: -52px;
            left: calc(50% - 52px);
            .card__logo {
                width: 100px;
                height: 100px;
            }
        }
        &.__50px {
            bottom: -27px;
            left: calc(50% - 27px);
            .card__logo {
                width: 100px;
                height: 100px;
            }
        }
    }
}
.card--socials.__centered.__100px {
    margin-top: 5px;
    justify-content: flex-end;
    @include media-breakpoint-down(sm) {
        justify-content: space-between;
    }
}


.card--cancellation {
    filter: grayscale(.8);
}
.card__cancellation {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 235px);
    cursor: default;
    .cancellation--block {
        position: absolute;
        padding: .75rem 2rem;
        background-color: $brand-danger;
        color: #fff;
        //text-transform: uppercase;
        box-shadow: $box-shadow;
    }
    [data-tooltipped] {
        cursor: pointer;
    }
}

.awesome-card {
    //font-family: 'Roboto-Light', sans-serif;

    .card__like {
        width: 18px;
    }

    .card__clock {
        width: 15px;
        vertical-align: middle;
        fill: #AD7D52;
    }

    .card__time {
        font-size: 12px;
        color: #AD7D52;
        vertical-align: middle;
        margin-left: 5px;
    }


    .card__date {
        @include card--date;
    }


    //.card__date {
    //  font-size: 14px;
    //  color: #AD7D52;
    //  vertical-align: middle;
    //  margin-left: 5px;
    //  margin-bottom: 3px;
    //  display: inline-block;
    //}

    .card__clock-info {
        float: right;
    }

    .card__img {
        @include card--img;
    }

    .card__socials {
        @include card--socials;
    }

    .card__info--up {
        position: absolute;
        padding: 16px;
        width: 100%;
        top: 0;
    }

    .card:hover {
        //box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
        //transform: scale(1.10, 1.10);
    }

    .card__info {
        z-index: 2;
        background-color: #fff;
        border-bottom-left-radius: $card-radius;
        border-bottom-right-radius: $card-radius;
        padding: 16px 24px 16px 24px;

        &__item {

            text-transform: uppercase;
            font-size: 13px;
            //letter-spacing: 2px;
            //font-weight: 500;
            color: $secondary;
        }

        &__left {

        }

        &__right {

        }
    }

    .card__category {

    }

    .card__organization {
        @include card--organization;
    }

    .card__departure {
        text-transform: none;
        //position: absolute;
        //bottom: 5px;
        //left: 20px;
        font-size: 14px;

        .card__departure--item {
            padding: 0 5px;
        }
    }

    .card__title {
        margin-bottom: .5rem;
        //min-height: 50px;
    }

    .card__description {
        margin-bottom: 0.5rem;
        font-size: 14px;
        //line-height: 1rem;
    }

    .card__price {
        @include card--price;
    }


    .card__by {
        //font-weight: bold;

        .card__by__price {
            del {
                color: rgba(darkgray, 0.5);
                text-decoration: none;
                position: relative;
                margin-left: 10px;

                &:before {
                    content: " ";
                    display: block;
                    width: 100%;
                    border-top: 1px solid rgba(darkgray, 0.8);
                    height: 4px;
                    position: absolute;
                    bottom: 7px;
                    left: 0;
                    transform: rotate(-11deg);
                }

                &:after {
                    content: " ";
                    display: block;
                    width: 100%;
                    border-top: 1px solid rgba(darkgray, 0.8);
                    height: 4px;
                    position: absolute;
                    bottom: 7px;
                    left: 0;
                    transform: rotate(11deg);
                }
            }

            ins {
                font-size: 20px;
                text-decoration: none;
            }

            i {
                font-size: 14px;
            }
        }
    }

    .card__author {
        text-decoration: none;
        color: #AD7D52;
    }

    &.--empty-search {
        margin-top: 100px;
        margin-bottom: 200px;
        @include media-breakpoint-down(sm) {
            margin-top: 50px;
            margin-bottom: 100px;
        }
        .__description {
            text-align: right;
            @include media-breakpoint-down(sm) {
                text-align: center;
            }
        }
        .__image {
            text-align: left;
            @include media-breakpoint-down(sm) {
                text-align: center;
            }
        }
    }
}


.movie_card {
    //font-family: 'Roboto-Light', serif;
    position: relative;
    display: block;
    //width: 800px;
    //height: 350px;
    //margin: 80px auto;
    overflow: hidden;
    border-radius: $card-radius;
    transition: all 0.4s;
    box-shadow: 0px 0px 40px -25px rgba(0, 0, 0, 0.5);

    &:hover {
        //transform: scale(1.02);
        box-shadow: 0px 0px 80px -25px rgba(0, 0, 0, 0.5);
        transition: all 0.4s;
    }

    .card__rating {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 12px;
    }

    p {
        font-size: 14px;
    }

    .info_section {
        position: relative;
        width: 100%;
        height: 100%;
        background-blend-mode: multiply;
        z-index: 2;
        border-radius: $card-radius;
        padding: 25px;

        .movie_header {
            position: relative;

            //height: 40%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            .locandina {
                max-width: 100px;
                position: relative;
                float: left;
                margin-right: 20px;
                //height: 120px;
                box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
            }
        }

        .image-logo {
            width: 40px;
            height: 40px;
            margin-right: 20px;
            box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
        }

        .image-poster {

        }

        .ul-socials {
            ul {
                li.list-group-item {
                    background-color: transparent;
                    padding: 0;
                }

                margin-bottom: -1rem;
                margin-left: -10px;

                li {
                    border: none;

                    a {
                        color: rgba(0, 0, 0, 0.3);
                        transition: 200ms ease-in-out;

                        &:hover {
                            color: rgba(0, 0, 0, 0.5);
                        }
                    }
                }
            }
        }
    }

    .info_section {
        background: linear-gradient(to right, #fff 50%, transparent 100%);
    }

    .blur_back {
        width: 100%;
        background-position: 50% 50% !important;
        @include media-breakpoint-down(sm) {
            background-image: none !important;
        }
    }

    .bright_back {
        background: url("https://occ-0-2433-448.1.nflxso.net/art/cd5c9/3e192edf2027c536e25bb5d3b6ac93ced77cd5c9.jpg");
    }

    .blur_back {
        position: absolute;
        top: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
        right: 0;
        background-size: cover;
        border-radius: $card-radius;
    }
}

.flip {
    //.blur_back {
    //    width: 100%;
    //    background-position: 50% 50% !important;
    //    @include media-breakpoint-down(sm) {
    //        background-image: none !important;
    //    }
    //}
    //
    //.front {
    //    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 25px, transparent 100%) !important;
    //}
    //
    //.bright_back {
    //
    //}
    //
    //.blur_back {
    //    position: absolute;
    //    top: 0;
    //    z-index: -1;
    //    height: 100%;
    //    width: 100%;
    //    right: 0;
    //    background-size: cover;
    //    border-radius: $card-radius;
    //}
}

.tour__card {

}









