.carousel {
    //background: #FAFAFA;
    margin-bottom: 40px;
    height: 200px;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .flickity-button {
        border-radius: $card-radius;
    }

    .flickity-prev-next-button {
        //visibility: hidden;
        background-color: transparent;
    }
    .flickity-page-dots {
        .dot {
            //background: $brand-primary;
        }
    }

    .flickity-slider img {
        display: block;
        height: 200px;
        /* set min-width,
       allow images to determine cell width */
        min-width: 150px;
        max-width: 100%;
        margin-right: 10px;
        /* vertically center */
        //top: 50%;
        //transform: translateY(-50%);
        transition: 200ms ease-in-out;
        //border: 2px solid #ccc;
        &:hover {
            //transform: scale(1.05);
            //border: 2px solid $brand-primary;
            //opacity: 0;
        }
    }
    //
    //.carousel.is-fullscreen .carousel-image {
    //  height: auto;
    //  max-height: 100%;
    //}

    .flickity-slider img {
        //width: 100%; /* full width */
        //height: 160px; /* height of carousel */
        //margin-right: 10px;
    }
}
//
//.carousel-cell {
//  width: 100%;
//  height: 200px;
//  margin-right: 10px;
//  background: #8C8;
//  border-radius: 5px;
//  counter-increment: carousel-cell;
//}
//
///* cell number */
//.carousel-cell:before {
//  display: block;
//  text-align: center;
//  content: counter(carousel-cell);
//  line-height: 200px;
//  font-size: 80px;
//  color: white;
//}

//.carousel-nav .carousel-cell {
//  height: 80px;
//  width: 100px;
//}

//.carousel-nav .carousel-cell:before {
//  font-size: 50px;
//  line-height: 80px;
//}

//.carousel-nav .carousel-cell.is-nav-selected {
//  background: #ED2;
//}
