// base
.flip {
    position: relative;

    .front {
        //display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
    }




    .front {
        transform: rotateY(0deg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        &:after {
            content: '';
            display: block;
            position: absolute;
            background-image: linear-gradient(
                    to bottom,
                    hsla(0, 0%, 0%, 0) 0%,
                    hsla(0, 0%, 0%, 0.009) 11.7%,
                    hsla(0, 0%, 0%, 0.034) 22.1%,
                    hsla(0, 0%, 0%, 0.072) 31.2%,
                    hsla(0, 0%, 0%, 0.123) 39.4%,
                    hsla(0, 0%, 0%, 0.182) 46.6%,
                    hsla(0, 0%, 0%, 0.249) 53.1%,
                    hsla(0, 0%, 0%, 0.320) 58.9%,
                    hsla(0, 0%, 0%, 0.394) 64.3%,
                    hsla(0, 0%, 0%, 0.468) 69.3%,
                    hsla(0, 0%, 0%, 0.540) 74.1%,
                    hsla(0, 0%, 0%, 0.607) 78.8%,
                    hsla(0, 0%, 0%, 0.668) 83.6%,
                    hsla(0, 0%, 0%, 0.721) 88.7%,
                    hsla(0, 0%, 0%, 0.762) 94.1%,
                    hsla(0, 0%, 0%, 0.790) 100%
            );
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }
        //&:after {
        //    content: '';
        //    display: block;
        //    position: absolute;
        //    width: 225px;
        //    height: 75px;
        //    bottom: -25px;
        //    right: -25px;
        //    background: linear-gradient(to top right, $brand-black, pink);
        //    opacity: .7;
        //    z-index: -1;
        //    filter: blur(1px);
        //    transform: rotate(155deg);
        //}
        //&:before {
        //    content: '';
        //    display: block;
        //    position: absolute;
        //    width: 225px;
        //    height: 75px;
        //    bottom: -25px;
        //    left: -25px;
        //    background: linear-gradient(to top right, $brand-black, pink);
        //    opacity: .7;
        //    z-index: -1;
        //    filter: blur(1px);
        //    transform: rotate(25deg);
        //}
        &:before {
            //content: '';
            //display: block;
            //position: absolute;
            //width: 100%;
            //height: calc(1rem + 38px);
            //bottom: 0;
            //left: 0;
            //background: linear-gradient(to top right, $brand-black, pink);
            //opacity: .9;
            //z-index: -1;
            //filter: blur(5px);
        }
    }

    &.is-skeleton {
        .front:after {
            background-image: none;
        }
    }

    .card--socials {
        justify-content: space-between;
        width: 100%;

        li {
            background-color: transparent;
        }
    }

    .card--rating {
        position: absolute;
        top: 25px;
        right: 35px;
        font-size: 12px;
        //color: #FF8970;
    }
}

// custom
.flip {
    position: relative;
    //display: inline-block;
    //margin-right: 2px;
    //margin-bottom: 1em;
    width: 100%;

    .front {
        h2 {
            //display: block;
            color: white;
            //font-family: 'Roboto-Light', sans-serif;
            text-transform: uppercase;
        }

        width: inherit;
        background-size: cover !important;
        background-position: center !important;
        height: 220px;
        padding: 1em 2em;
        background: #313131;
        border-radius: $card-radius;
        box-shadow: $card-shadow;

        p {
            font-size: 0.9125rem;
            line-height: 160%;
            color: #999;
        }
    }
}

.text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}
