@import "./loader/loader";
@import "./mixins/is-disabled";

.page-model-comments.comments-awesome {
  .media-body {
    h5 {
      margin-bottom: 0;
    }
    p {
      font-size: 14px;
    }
    .__date {
      font-size: 12px;
      font-weight: bold;
    }
    .__text {
      font-size: 14px;
      line-height: 1.25rem;
    }
  }
  //padding: 1rem;
  //box-shadow: $card-shadow;
  //border: none;
}
.d-vote {
    span {
        margin-right: .5rem;
        margin-left: .5rem;
    }
    .__mobile {
        button:hover {
            background-color: transparent;
        }
    }
    &.active-down {
        button {
            opacity: .3;
            &:first-child {
                opacity: 1;
            }
        }

    }
    &.active-up {
        button {
            opacity: .3;
            &:last-child {
                opacity: 1;
            }
        }
    }
    &.is-loading {
        position: relative;
        button {
            @include is-disabled;
        }
        span {
            visibility: hidden;
        }
        &:after {
            @include loader;
            @include center(16px);
            position: absolute;
            border-left-color: $brand-black;
            border-bottom-color: $brand-black;
        }
    }
}
