.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 1rem 2rem;
  transition: all .75s cubic-bezier(.19,1,.22,1);
  display: flex;
  justify-content: center;
  align-items: center;
  &--hide {
    opacity: 0;
    bottom: -100%;
  }
  button {
    margin: 0 1rem;
  }
  .__description {
    font-size: 14px;
  }
  background-color: $brand-dark;
  box-shadow: $card-shadow-light;
  @include media-breakpoint-down(xs) {
    padding: 1rem;
  }
}

.cookie-button {
  display: inline-block;
  cursor: pointer;
  padding: 0.65rem 0.85rem;
  margin-left: 0.45rem;
  color: #fff;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: linear-gradient(62deg, #fbab7E 0%, #f7ce68 100%);
}
