

.direction--date {
    &.__empty {
        position: relative;
        .row {
            opacity: .3;
            background-color: #fff;
        }
    }
    .direction--date-placeholder {
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100% + 10px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -15px;
        & > div {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}
//
//
.--container-direction-comments .page-model-comments {
    @include media-breakpoint-down(md) {
        flex-direction: column-reverse;
    }
}
