.flight-box-custom.is-desktop {
    .fslightbox-slide-btn-previous-container {
        width: 50%;
        height: 100%;
        justify-content: flex-start;
        margin-top: 45px;
        .fslightbox-slide-btn {
            opacity: .3;
            transition: $transition-base;
        }
        &:hover {
            .fslightbox-slide-btn {
                opacity: 1;
            }
        }
    }
    .fslightbox-slide-btn-next-container {
        width: 50%;
        height: 100%;
        margin-top: 45px;
        justify-content: flex-end;
        .fslightbox-slide-btn {
            opacity: .3;
            transition: $transition-base;
        }
        &:hover {
            .fslightbox-slide-btn {
                opacity: 1;
            }
        }
    }
}

.flight-box-custom {
    .fslightbox-container {
        font-family: $font-family-base;
    }
    .fslightbox-source-caption {
        text-align: right;
        position: fixed;
        bottom: 0;
        right: 0;
        //color: $brand-black;
        padding: .5rem 2rem;
        margin: 1rem;
        color: #fff;
        background-color: transparent;
        //opacity: .6;
        transition: $transition-base;
        z-index: 3;
        p:last-child {
            margin-bottom: 0;
        }
        .is-title {
            font-weight: $font-weight-bold;
            font-size: 1rem;
        }
    }
}


.flight-box-custom.is-mobile {
    .fslightbox-slide-btn-previous-container {
        display: none;
    }
    .fslightbox-slide-btn-next-container {
        display: none;
    }
}
