.react-photo-gallery--gallery {
  img {
    cursor: pointer;
  }
  .react-photo-gallery--image {
    position: relative;
  }
  .react-photo-gallery--caption {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 2px;
    left: 2px;
    position: absolute;
    &.__position-bottom {
      align-items: flex-end;
      justify-content: flex-start;
    }
    &.__position-bottom-center {
      align-items: flex-end;
      justify-content: center;
    }
    &.__position-bottom-right {
      align-items: flex-end;
      justify-content: flex-end;
    }
    &.__position-center {
      align-items: center;
      justify-content: center;
    }
    &.__position-center-left {
      align-items: center;
      justify-content: flex-start;
    }
    &.__width-full {
      .react-photo-gallery--title {
        width: 100%;
        text-align: center;
      }
    }
  }
  .react-photo-gallery--title {
    //position: absolute;
    //bottom: 12px;
    //left: 2px;
    //text-align: center;
    //padding: 5px 0;
    padding: 10px 40px;
    //background-color: #7779;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.5rem;
    line-height: 1.75rem;
    user-select: none;
    //font-family: 'Roboto', serif;
  }
}


