@import "../project/news/mixins";

.shadow-banner {
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.grid--news-container.is-app-share {
    box-shadow: $card-shadow-hover;
    //box-shadow: $box-shadow-sm;
    margin-top: 10rem;
}

.grid--news-container.is-app-promotion {
    //box-shadow: $card-shadow-hover;
}

.grid--news-container.is-news {
    //box-shadow: $card-shadow-hover;
}

.grid--news-container {
    margin: 3rem 0;
    position: relative;
    //transform: scale(0.75);
    //overflow: hidden;
    background-size: cover;
    background-position: center;
    //display: grid;
    //grid-template-columns: repeat(2, 500px) 150px;
    //min-width: 1150px;
    //grid-template-rows: 130px 500px 75px;
    //border-radius: 10px;

    height: 400px;
    @include media-breakpoint-down(md) {
        height: auto;
        padding: 3rem 0;
    }
    .container {
        height: 100%;
    }

    .card__snipe--category {
        @include news--categories;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 0;
        top: 0;
        opacity: .7;
    }
    .banner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        justify-items: center;
        & > div {
            //width: 50%;
        }
        height: 100%;
        position: relative;

    }

    .banner-text {
        z-index: 1;
        h3 {
            font-size: 3.5rem;
            font-weight: $font-weight-bold;
        }
        p {
            font-size: 1rem;
        }
    }
}
