.Toastify__toast-container {
  &.__toast-awesome {
    .Toastify__toast-body {
      color: $brand-black;
      font-family: $font-family-sans-serif;
      font-size: 14px;
    }

    .Toastify__toast--info {
      .Toastify__toast-body {
        color: $brand-light;
      }
    }

    .Toastify__toast--success {
      background-color: lighten($brand-primary, 7%);
      padding-left: 1rem;

      .Toastify__toast-body {
        color: $brand-light;
      }
    }

    .Toastify__toast--warning {
      background-color: darken($brand-warning, 10%);
      padding-left: 1rem;

      .Toastify__toast-body {
        color: $brand-light;
      }
    }

    .Toastify__toast--error {
      background-color: $brand-danger;
      padding-left: 1rem;

      .Toastify__toast-body {
        color: $brand-light;
      }
    }

    .Toastify__toast {
      @include media-breakpoint-down(xs) {
        margin-bottom: .5rem;
      }
    }
  }
  @include media-breakpoint-down(xs) {
    margin-top: .5rem;
    width: calc(100% - 1rem);
    margin-left: .5rem;

  }
}


