.ScrollUpButton--Custom {
    position: fixed;
    left: -300px;
    bottom: 0;
    cursor: pointer;
    font-size: 14px;
    height: 100vh;
    width: 300px;
    @include media-breakpoint-down(lg) {
        width: 75px;
    }
    span {
        i {
            font-size: 16px;
            margin-right: 10px;
        }
    }
    display: flex;
    div {
        width: 50%;
    }
    div:first-child {
        background-color: darken($brand-white, 10%);
        //transition: opacity 0.3s ease-in-out 0s, right;
        opacity: 0;
        transition: background-color 150ms linear, opacity 150ms linear;
        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }
    div:nth-child(2) {
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
    span {
        position: absolute;
        top: 16px;
        left: 38px;
        color: $brand-black;
        @include media-breakpoint-down(lg) {
            top: 16px;
            left: 8px;
            font-size: 12px;
        }
    }
    &:hover {
        div:first-child {
            opacity: 0.3;
        }
        div:last-child {
            opacity: 0;
        }
    }

    &:focus {
        outline: none;
    }
    svg {
        width: 30px;
        height: 30px;
    }
}

.ScrollUpButtonTransition--Custom {
    left: 0;
}

.ScrollUpButton--Custom-2 {
    position: fixed;
    right: -300px;
    bottom: 25px;
    cursor: pointer;
    font-size: 14px;
    height: 50px;
    width: 50px;
    @include media-breakpoint-down(lg) {
        width: 75px;
    }
    i {
        font-size: 18px;
    }
    div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        span {
            display: none;
        }
        background-color: darken($brand-white, 10%);
        transition: opacity 0.3s ease-in-out 0s, right;
        opacity: 0.5;
        &:hover {
            opacity: 0.8;
        }
    }
    box-shadow: $box-shadow-sm;
    &:hover {
        box-shadow: $card-shadow-hover;
    }
    &:focus {
        outline: none;
    }
    //div:first-child {
    //    //background-color: darken($brand-white, 10%);
    //    //transition: opacity 0.3s ease-in-out 0s, right;
    //    //opacity: 0;
    //    //transition: background-color 150ms linear, opacity 150ms linear;
    //    @include media-breakpoint-down(lg) {
    //        width: 100%;
    //    }
    //}
    //div:nth-child(2) {
    //    @include media-breakpoint-down(lg) {
    //        display: none;
    //    }
    //}
    //span {
    //    position: absolute;
    //    top: 16px;
    //    left: 38px;
    //    color: $brand-black;
    //    @include media-breakpoint-down(lg) {
    //        top: 16px;
    //        left: 8px;
    //        font-size: 12px;
    //    }
    //}
    //&:hover {
    //    div:first-child {
    //        opacity: .3;
    //    }
    //    div:last-child {
    //        opacity: 0;
    //    }
    //}
    //
    //&:focus {
    //    outline: none;
    //}
    svg {
        width: 30px;
        height: 30px;
    }
}
.ScrollUpButtonTransition--Custom-2 {
    right: 25px;
}
