.--empty-search {
    margin-top: 100px;
    margin-bottom: 200px;
    @include media-breakpoint-down(sm) {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .__description {
        text-align: right;
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
    }
    .__image {
        text-align: left;
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
    }
}
