.react-select-container {
  .react-select__control {
    border-radius: $custom-select-border-radius !important;
  }
  .react-select__control--is-focused {
    color: #495057;
    background-color: #fff;
    border-color: #9cdcbf !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(65, 184, 130, 0.25) !important;
  }
  .react-select__placeholder {
    color: #999999;
  }
  .react-select__menu {
    //position: absolute;
    //top: 100%;
    //left: 0;
    //z-index: 1000;
    //display: none;
    //float: left;
    min-width: 10rem;
    //padding: 0.25rem 0;
    margin: 0.25rem 0;
    font-size: $font-size-base;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: $custom-select-border-radius;
    box-shadow: none;
    .react-select__menu-list {
      padding: 0.25rem 0;
    }
    .react-select__option {
      overflow: hidden;
      display: block;
      width: 100%;
      padding: 0.25rem 1.5rem;
      clear: both;
      font-weight: 400;
      color: #212529;
      text-align: inherit;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
      margin: 0;
      text-overflow: ellipsis;
      &:hover {
        color: #16181b;
        text-decoration: none;
        background-color: #f8f9fa;
      }
    }
  }
  &.form-control-sm {
    .react-select__control {
      height: inherit;
    }
  }
}
