.aw-root-sidebar {
    z-index: 200;
    position: relative !important;
    display: flex;

    .aw-sidebar {
        height: 100vh;
        position: fixed !important;
        background-color: #fff;
        padding: 1rem;
        width: 100%;
    }

    .aw-sidebar-content {
        position: relative !important;
    }
}

.root-sidebar {
    //z-index: 200;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

    .w-100.__header {
        background-color: $brand-primary;
        padding: .5rem 1rem;
    }

    .container {
        //padding: .5rem 1rem;
        &:first-child {
            padding: 0;
            background-color: $brand-primary;
        }
    }

    .btn-light {
        color: $brand-black;
    }

    background: #fff;
    //display: none;
    visibility: hidden;
    transition: all .1s;
    opacity: 0;

    &.open {
        visibility: visible;
        opacity: 1;
    }

    .nav-link {
        color: $brand-black !important;
        padding-top: .75rem;
        padding-bottom: .75rem;
        margin-top: .25rem;
        margin-bottom: .25rem;
        //box-shadow: $box-shadow-sm;
        //background-color: $brand-dark;
        border: 1px solid $list-group-border-color;
        font-size: 0.75rem;
        text-transform: uppercase;

        &:first-child {
            //padding-top: 2rem;
        }
    }
}
