.tabbar {
  --icon-active: #275EFE;
  --icon-inactive: #6C7486;
  --icon-hover: #99A3BA;
  --text: #E4ECFA;
  --circle: #E4ECFA;
  --background: #ccc;
  --shadow: rgba(18, 22, 33, .1);
  border-radius: 0 0 12px 12px;
  background: var(--background);
  width: 100%;
  height: 64px;
  padding: 0 12px;
  box-shadow: 0 8px 16px var(--shadow);

  & > div {
    display: flex;
    height: 100%;
    position: relative;

    label {
      flex: 0 0 33.33%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      z-index: 1;

      svg,
      span {
        display: block;
        -webkit-backface-visibility: hidden;
        transition: transform .4s cubic-bezier(.2, .64, .48, 1.12), opacity .4s ease, color .4s ease;
        transform: translateY(var(--y)) scale(var(--s));
      }

      svg {
        --y: 0;
        --s: .84;
        width: 24px;
        height: 24px;
        margin: auto;
        color: var(--icon-inactive);
        transform-origin: 50% 50%;
      }

      span {
        --y: -8px;
        --s: .92;
        font-size: 10px;
        font-weight: $font-weight-bold;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 0;
        opacity: 0;
        color: var(--text);
        transform-origin: 50% 0;
      }

      &:hover {
        svg {
          color: var(--icon-hover);
        }
      }

      &:active {
        svg {
          --s: .76;
        }
      }
    }

    input {
      display: none;

      &:nth-of-type(1) {
        &:checked {
          & + label + input + label + input + label + span {
            --x: 0;
          }
        }
      }

      &:nth-of-type(2) {
        &:checked {
          & + label + input + label + span {
            --x: 100%;
          }
        }
      }

      &:nth-of-type(3) {
        &:checked {
          & + label + span {
            --x: 200%;
          }
        }
      }

      &:checked {
        & + label {
          svg {
            --y: -24px;
            --s: 1;
            color: var(--icon-active);
          }

          span {
            --s: 1;
            --y: -14px;
            opacity: 1;
          }
        }
      }
    }

    & > span {
      --x: 0;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 33.33%;
      transition: transform .4s cubic-bezier(.2, .64, .48, 1.12);
      transform: translateX(var(--x));
      -webkit-backface-visibility: hidden;

      &:after {
        content: '';
        width: 44px;
        height: 44px;
        display: block;
        border-radius: 50%;
        background: var(--circle);
        position: absolute;
        left: 50%;
        top: 0;
        box-shadow: 0 2px 8px var(--shadow);
        margin: -14px 0 0 -22px;
      }
    }
  }
}
