/*==================================
    TIMELINE
==================================*/

$primary-color: $brand-primary;

/*-- GENERAL STYLES
------------------------------*/
.timelines-container {
    .timeline:first-child {
        .timeline-item:not(:not(.period)) {
            padding-top: 0 !important;

            .timeline-marker:before {
                //display: none;
                border-top: none;
            }

            .timeline-content {
                padding-top: 0 !important;
            }
        }
        .timeline-item.period {
            @include media-breakpoint-only(md) {
                .timeline-marker {
                    &:before {
                        left: 33px;
                    }
                    &:after {
                        left: 37px;
                    }
                }
            }
        }
    }
    .timeline:not(:first-child) {
        .timeline-item.period {
            @include media-breakpoint-down(md) {
                padding-left: 32px;
            }
            @include media-breakpoint-down(md) {
                .timeline-content {
                    padding: 20px 0 50px !important;
                }
            }
        }
        .timeline-item.__with-description {
            padding-bottom: 71px; // т.к. p с описание 19px
            @include media-breakpoint-down(md) {
                padding-bottom: 0;
            }
        }
    }
    .timeline:last-child {
        .timeline-item:last-child {
            .timeline-marker:after {
                content: none;
            }
        }
    }
}

.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;

    h3.timeline-title {
        margin-top: -5px;
    }

    .timeline-item:first-child:not(:not(.period)) {
        //padding-top: 0 !important;

        .timeline-marker:before {
            //display: none;
            //border-top: none;
        }

        .timeline-content {
            padding-top: 0 !important;
        }
    }

    &.timeline-sm {
        .timeline-item.period {
            .timeline-content {
                //padding: 0 !important;
            }
        }
    }
}

/*----- TIMELINE ITEM -----*/

.timeline-item {
    padding-left: 40px;
    position: relative;

    &:last-child {
        padding-bottom: 0;
    }

    &.images {
        position: initial;
    }
    &.__image {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        margin-top: 33px + 30px !important;
        width: calc(50% - 180px);
        height: 100%;
        min-height: 100px;
        padding-left: 0;
        @include media-breakpoint-down(md) {
            position: relative;
            width: 100%;
            margin-top: 0 !important;
        }
        .timeline-image-gallery-container {
            padding: 0 !important;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            & > div {
                width: 100%;
            }
            .carousel {
                margin-bottom: 0;
                .flickity-page-dots {
                    bottom: 20px;
                    .dot {
                        background: $brand-primary;
                    }
                }
            }
            //&:after {
            //    content: "";
            //    width: 2px;
            //    background: #CCD5DB;
            //    display: block;
            //    position: absolute;
            //    bottom: 0;
            //    left: 6px;
            //    z-index: 0;
            //    height: 10px;
            //}
            @include media-breakpoint-down(md) {
                &:before {
                    background: transparent;
                    content: "";
                    width: 10px;
                    height: calc(100% + 3px);
                    border: none;
                    border-radius: 0;
                    top: 0;
                    bottom: 30px;
                    position: absolute;
                    border-top: 3px solid #CCD5DB;
                    border-bottom: 3px solid rgb(241, 244, 245);
                    left: 2px;
                    z-index: 1;
                    @include media-breakpoint-only(md) {
                        left: 50px;
                    }
                }
            }
        }
    }
}

/*----- TIMELINE INFO -----*/

.timeline-info {
    font-size: 14px;
    //font-weight: 700;
    //letter-spacing: 1px;
    margin: 0 0 .5em 0;
    //text-transform: uppercase;
    white-space: nowrap;
    //font-family: 'Roboto-Light', 'Segoe UI Light', sans-serif;
}

/*----- TIMELINE MARKER -----*/

.timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;

    &:before {
        background: $primary-color;
        border: 3px solid transparent;
        border-radius: 100%;
        content: "";
        display: block;
        height: $circle-width;
        position: absolute;
        top: 4px;
        left: 2px;
        width: $circle-width;
        transition: background 0.3s ease-in-out,
        border 0.3s ease-in-out;
    }

    &:after {
        content: "";
        width: 2px;
        background: #CCD5DB;
        display: block;
        position: absolute;
        top: 20px;
        bottom: 0;
        left: 6px;
    }

    .timeline-item:last-child &:after {
        //content: none;
    }
}

//.timeline-item:not(.period):hover .timeline-marker:before {
//  background: transparent;
//  border: 3px solid $primary-color;
//}

/*----- TIMELINE CONTENT -----*/

.timeline-content {
    padding-bottom: 20px;

    p {
        font-size: 14px;
    }

    p:last-child {
        margin-bottom: 0;
    }

    .timeline-description {
        font-size: 14px;
    }
}

/*----- TIMELINE PERIOD -----*/

.period {
    padding: 0;

    .timeline-info {
        display: none;
    }

    .timeline-marker {
        &:before {
            background: transparent;
            content: "";
            width: 10px;
            height: auto;
            border: none;
            border-radius: 0;
            top: 0;
            bottom: 30px;
            position: absolute;
            border-top: 3px solid #CCD5DB;
            border-bottom: 3px solid #CCD5DB;
        }

        &:after {
            content: "";
            height: 32px;
            top: auto;
        }
    }

    .timeline-content {
        padding: 20px 0 50px;
    }

    .timeline-title {
        margin: 0;
    }
}

/*----------------------------------------------
    MOD: TIMELINE SPLIT
----------------------------------------------*/

.timeline-split {
    @include media-breakpoint-only(md) {
        .timeline {
            display: table;
        }
        .timeline-item {
            //display: table-row;
            padding: 0;
        }
        .timeline-info,
        .timeline-marker,
        .timeline-content,
        .period .timeline-info {
            display: table-cell;
            vertical-align: top;
        }
        .timeline-marker {
            position: relative;
        }
        .timeline-content {
            padding-left: 30px;
        }
        .timeline-info {
            padding-right: 1rem;
            text-align: right;
        }
        .period .timeline-title {
            position: relative;
            left: -45px;
        }
    }
}

/*----------------------------------------------
    MOD: TIMELINE CENTERED
----------------------------------------------*/

.timeline-centered {
    @extend .timeline-split;
    @media (min-width: 992px) {
        &,
        .timeline-item,
        .timeline-info,
        .timeline-marker,
        .timeline-content {
            display: block;
            margin: 0;
            padding: 0;
        }
        .timeline-item {
            padding-bottom: 20px;
            overflow: hidden;
        }
        .timeline-marker {
            position: absolute;
            left: 50%;
            margin-left: -7.5px;
        }
        .timeline-info,
        .timeline-content {
            width: 50%;
        }
        > .timeline-item:nth-child(odd) .timeline-info {
            float: left;
            text-align: right;
            padding-right: 30px;
        }
        > .timeline-item:nth-child(odd) .timeline-content {
            float: right;
            text-align: left;
            padding-left: 30px;
        }
        > .timeline-item:nth-child(even) .timeline-info {
            float: left;
            text-align: right;
            padding-right: 30px;
        }
        > .timeline-item:nth-child(even) .timeline-content {
            float: right;
            text-align: left;
            padding-left: 30px;
        }
        > .timeline-item.__right .timeline-info {
            float: left;
            text-align: right;
            padding-right: 30px;
        }
        > .timeline-item.__right .timeline-content {
            float: right;
            text-align: left;
            padding-left: 30px;
        }
        > .timeline-item.__left .timeline-info {
            float: right;
            text-align: left;
            padding-left: 30px;
        }
        > .timeline-item.__left .timeline-content {
            float: left;
            text-align: right;
            padding-right: 30px;
        }


        //> .timeline-item:nth-child(odd) .timeline-info {
        //  float: left;
        //  text-align: right;
        //  padding-right: 30px;
        //}
        //> .timeline-item:nth-child(odd) .timeline-content {
        //  float: right;
        //  text-align: left;
        //  padding-left: 30px;
        //}
        //> .timeline-item:nth-child(even) .timeline-info {
        //  float: right;
        //  text-align: left;
        //  padding-left: 30px;
        //}
        //> .timeline-item:nth-child(even) .timeline-content {
        //  float: left;
        //  text-align: right;
        //  padding-right: 30px;
        //}
        > .timeline-item.period .timeline-content {
            float: none;
            padding: 0;
            width: 100%;
            text-align: center;
        }
        .timeline-item.period {
            padding: 50px 0 90px;
        }
        .period .timeline-marker:after {
            height: 30px;
            bottom: 0;
            top: auto;
        }
        .period .timeline-title {
            left: auto;
        }
    }
}

/*----------------------------------------------
    MOD: MARKER OUTLINE
----------------------------------------------*/

.marker-outline {
    .timeline-marker {
        &:before {
            background: transparent;
            border-color: $primary-color;
        }
    }

    .timeline-item:hover .timeline-marker:before {
        background: $primary-color;
    }
}
