.tooltip-text {
    cursor: pointer;
    color: $brand-primary;
    text-decoration: underline;
}
div[data-tooltipped] {
    cursor: pointer;
    .fa-question-circle {
        color: $brand-grey;
    }
}
.ya-share-container {
    padding: 6px;
}
