.rbt-token {
  //margin: 2px 0 2px 0;
}
.rbt {
    .dropdown-item {
        color: $brand-black;
    }
    .rbt-close {
        margin-top: 2px;
    }
    .rbt-token {
        margin-bottom: 1px;
    }
    .rbt-input {
        border: 1px solid rgba(0, 0, 0, 0.15);
        .focus {
            border-color: #9cdcbf !important;
            box-shadow: 0 0 0 0.2rem rgba(65, 184, 130, 0.25) !important;
        }
    }
}

