@mixin card--date {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: $brand-danger;
    width: 60px;
    height: 60px;
    //padding: 14px 0;
    border-radius: 100%;
    color: #FFFFFF;
    //font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    //font-family: 'Roboto-Light', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    div:nth-child(2) {
        &:after {
            content: '';
            position: absolute;
            height: 1px;
            width: 10px;
            background-color: #fff;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            //border-radius: 100%;
        }
    }

    &.__is-placeholder {
        span {
            position: absolute;
            top: -1px;
            left: -1px;
        }
    }

    .day {
        font-size: 18px;
        line-height: 16px;
    }

    .month {
        font-size: 10px;
        text-transform: uppercase;
    }

    &.day-month {
        width: 55px;
        height: 55px;
        //padding: 16px 0;

        div {
            font-size: 16px;
        }
    }
}

@mixin card--img {
    //visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: $card-radius;
    border-top-right-radius: $card-radius;
    position: relative;
}

@mixin card--background_image {
    //visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: $card-radius;
    border-top-right-radius: $card-radius;
    position: relative;
}

@mixin card--socials {
    position: absolute;
    bottom: 5px;
    right: 10px;
    @include media-breakpoint-down(sm) {
        //bottom: 10px;
    }

    .list-group-item {
        background-color: transparent;
        padding: 0;
        //button {
        //  color: #ffffffa3;
        //}
        a {
            color: #ffffffa3;

            &.btn-light {
                color: #fff;

                &.btn-light:hover {
                    color: #e6e6e6;
                }
            }
        }

        .dropdown {
            .dropdown-toggle {
                padding: 0;
                color: #ffffffa3;
                vertical-align: initial;

                &:after {
                    content: none;
                }

                &:hover {
                    background-color: transparent;
                }

                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

    .card--socials {
        margin-left: 0;
        margin-bottom: 0;
    }
}

@mixin card--tag {
    position: absolute;
    bottom: 10px;
    left: 10px;
    .badge-default {
        font-weight: 400;
        color: #fff !important;
        font-size: $font-size-base !important;
    }
}

.card__tag {
    @include card--tag;
}

@mixin card--price {
    //font-family: 'Roboto-Light', sans-serif;
    //font-weight: bold;
    font-size: 20px;

    i {
        font-size: 20px;
    }
    [data-tooltipped] i {
        color: $text-muted;
        cursor: pointer;
        font-size: 14px;
        font-weight: normal;
        margin: 0 5px;
    }

    .card__discount {
        font-size: 14px;
        color: $brand-black;
        margin-left: 8px;
        position: relative;

        &:after {
            content: "";
            width: calc(100% + 10px);
            height: 1px;
            background: $brand-danger;
            position: absolute;
            bottom: 8px;
            left: -5px;
            transform: rotate(8deg);
        }

        &:before {
            content: "";
            width: calc(100% + 10px);
            height: 1px;
            background: $brand-danger;
            position: absolute;
            bottom: 8px;
            left: -5px;
            transform: rotate(172deg);
        }
    }
}

@mixin card--organization {
    font-size: 13px;
    //text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}



