
.section--about {
  p {
    margin-top: 2rem;
    font-size: 20px;
    //font-family: Roboto-Light, sans-serif;
  }

  .list-group-item {
    i {
      font-size: 28px;
      margin-right: 10px;
      color: $brand-k;
    }

    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      line-height: 1rem;
    }
  }
}
