.text-danger {
    color: $brand-danger !important;
}

.text-success {
    color: $brand-success !important;
}

.text-black {
    color: $brand-black !important;
}

.text-grey {
    color: $brand-grey !important;
}

.shadow-default {
    box-shadow: $card-shadow;
}


.fa-active {
    .fa-heart {
        color: $brand-danger;
    }

    .fa-bookmark {
        color: $brand-danger;
    }
    .fa-envelope {
        color: $brand-success;
    }
}

i.r {
    color: $brand-danger;
}

//select {
//    -webkit-appearance: none;
//    -moz-appearance: none;
//    appearance: none;
//}
//select::-ms-expand { /* for IE 11 */
//    display: none;
//}
