.DateRangePicker .DateRangePicker_picker {
    z-index: 11;
}

.react-select-container .react-select__control {
    z-index: 10 !important;

    .react-select__value-container {
        z-index: -1 !important;
    }
}

.react-select-container .react-select__menu {
    z-index: 11 !important;
}

.ScrollUpButton--Custom {
    z-index: 100;

    span {
        z-index: 101;
    }
}

.movie_card {
    z-index: 102;
}

section {
    .comments-awesome {
        z-index: 102;
    }
}

.flip {
    z-index: 102;
}

footer {
    .list-group {
        .list-group-item {
            z-index: 102;
        }
    }

    &.fixed-bottom {
        z-index: 102;
    }
}

.root-sidebar {
    z-index: 103;
}

.cookie-box {
    z-index: 104;
}

.tabs-mobile {
    z-index: 103;
}

.auth-form {
    z-index: 100;
}

.auth-header {
    z-index: 101;
}
.direction--date-placeholder {
    z-index: 100;
}
.carousel {
    z-index: 1;
}
