
$sidebar-notifications-width: 300px;

.sidebar-notifications {
    position: fixed;
    height: 100vh;
    width: $sidebar-notifications-width;
    z-index: 1000;
    top: 0;
    right: 0;
    margin-right: -$sidebar-notifications-width;
    transition: $transition-base;
    &.is-open {
        width: $sidebar-notifications-width;
        margin-right: 0;
        #sn-overlay {
            display: block;
        }
    }
    #sn-overlay {
        display: none;
    }
    #sn-sidebar {
        width: $sidebar-notifications-width;
    }
    #sn-content {
        z-index: 1000;
        width: $sidebar-notifications-width;
        right: 0 !important;
        left: initial !important;
        background-color: #fff;
    }
    .content {
        //width: $sidebar-notifications-width;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        background-color: #fff;
        z-index: 1;
        .__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h5 {
                margin-bottom: 0;
                //margin-left: 1rem;
            }
            //button {
            //    position: absolute;
            //    top: 0;
            //    left: 0;
            //}
        }
    }


    .FreeScrollbar-vertical-track {
        z-index: 1;
        .FreeScrollbar-vertical-handler {
            border-radius: 0 !important;
        }
    }
}
