@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@mixin center($size) {
  left: 50%;
  margin-left: -($size / 2);
  margin-top: -($size / 2);
  position: absolute;
  top: 50%;
}

@mixin loader {
  animation: spinAround 500ms infinite linear;
  border: 2px solid #fff;
  border-radius: 100%;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1rem;
  position: relative;
  width: 1rem;
}


.btn {
  &.is-loading {
    position: relative;
    color: transparent !important;
    pointer-events: none;

    i:before {
      visibility: hidden;
    }

    &:after {
      @include loader;
      @include center(16px);
      position: absolute;
    }
    &.btn-empty-link {
      &:after {
        border-left-color: $brand-black;
        border-bottom-color: $brand-black;
      }
    }
  }
}

.full-loader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form-container {
    .full-loader {
        height: 100px;
        width: 100px;
    }
}
.social-vk-loader {
    width: 200px;
    height: 134px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    &:after {
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background-color: #fff;
        opacity: .7;
        z-index: -1;
    }
    .full-loader {
        z-index: 2;
    }
}
.btn-empty-danger-link.is-loading {
    &:after {
        border-left-color: $brand-danger-darken;
        border-bottom-color: $brand-danger-darken;
    }
}
