.login-clean {
    //background:#f1f7fc;
    //padding:80px 0;
}

.login-clean form {
    //max-width: 320px;
    //width: 90%;
    //margin: 0 auto;
    //background-color: #ffffff;
    padding: 20px 20px;
    //border-radius: 4px;
    //color: #505e6c;
    //box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.login-clean form .forgot {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
}

.login-clean form .forgot:hover,
.login-clean form .forgot:active {
    opacity: 1;
    //text-decoration: none;
}

.modal-auth {
    .modal-body {
        padding: 0;
    }
    .modal-content {
        //background-color: transparent;
        //border: none;
    }
    .modal-button-close {
        position: absolute;
        top: 5px;
        right: 10px;
        z-index: 101;
        outline: none;
    }
}

.social-container {
    margin: 10px 0;
    a {
        //border: 1px solid #DDDDDD;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        height: 30px;
        width: 30px;
    }
}

.auth-form {
    h1 {
        //font-weight: bold;
        margin: 0;
    }

    h2 {
        text-align: center;
    }

    p {
        font-size: 14px;
        //font-weight: 100;
        //line-height: 20px;
        //letter-spacing: 0.5px;
        margin: 20px 0 30px;
    }

    span {
        font-size: 12px;
    }

    a.forgot-link {
        font-size: 14px;
    }

    a.social {
        color: #333;
        font-size: 14px;
        text-decoration: none;
        margin: 15px 0;
    }

    .forgot-link {
    }

    .auth-button {
        //border-radius: $card-radius;
        //border: 1px solid #FF4B2B;
        //background-color: #FF4B2B;
        //color: #FFFFFF;
        font-size: 12px;
        //font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
    }

    //
    //button:active {
    //  transform: scale(0.95);
    //}
    //
    //button:focus {
    //  outline: none;
    //}

    .btn-primary-ghost {
        background-color: $brand-primary;
        border-color: #ffffff;
        color: #fff;
        &:focus {
            box-shadow: none;
        }
        &:hover {
            background-color: darken($brand-primary, 1%);
        }
    }

    form {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        text-align: center;
    }
    .form-group {
        width: 100%;
        margin: 8px 0;
    }

    input {
    }

    .auth-form-container {
        //background-color: #fff;
        border-radius: $card-radius;
        box-shadow: $card-shadow;
        //box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        //0 10px 10px rgba(0, 0, 0, 0.22);
        position: relative;
        overflow: hidden;
        max-width: 100%;
        min-height: 440px;
        margin: 0;
    }

    .form-container {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
    }

    .sign-in-container {
        left: 0;
        width: 50%;
        z-index: 2;
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    .auth-form-container.right-panel-active .sign-in-container {
        transform: translateX(100%);
    }

    .sign-up-container {
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
        @include media-breakpoint-down(sm) {
            width: 100%;
            transform: translateX(0%) !important;
        }
    }

    .auth-form-container.right-panel-active .sign-up-container {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
        animation: show 0.6s;
    }

    .overlay-container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: transform 0.6s ease-in-out;
        z-index: 100;
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    .auth-form-container.right-panel-active .overlay-container {
        transform: translateX(-100%);
    }

    .overlay {
        background: $brand-primary;
        //background: #FF416C;
        //background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
        //background: linear-gradient(to right, #FF4B2B, #FF416C);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        color: #ffffff;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }

    .auth-form-container.right-panel-active .overlay {
        transform: translateX(50%);
    }

    .overlay-panel {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        top: 0;
        height: 100%;
        width: 50%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }

    .overlay-left {
        transform: translateX(0%);
    }

    .auth-form-container.right-panel-active .overlay-left {
        transform: translateX(0);
    }

    .overlay-right {
        right: 0;
        transform: translateX(0);
    }

    .auth-form-container.right-panel-active .overlay-right {
        transform: translateX(20%);
    }

    .input-group-prepend {
    }
    .input-group-text {
        background-color: #fff;
        font-size: 14px;
    }

    input[type='password'] {
        //border-right-color: transparent;
    }

    .input-group-append {
        .input-group-text {
        }
        span {
            border-left-color: transparent;
        }
    }

    &.is-page {
        form {
            padding: 0;
        }
        @include media-breakpoint-down(xs) {
            height: 100vh;
        }
        .form-container {
            position: relative;
            padding: 2rem 0;
            display: flex;
            justify-content: center;
            width: 100%;
            form {
                @include media-breakpoint-down(xs) {
                    padding: 0 1rem;
                    width: 100%;
                }
            }
        }
        .auth-form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            //padding: 2rem;
            box-shadow: none;
            form {
                height: inherit;
                width: 100%;
            }
            .form-container {
                height: initial;
            }
        }
        .auth-form-container.right-panel-active .sign-up-container {
            transform: none;
        }
    }
}
.auth-header {
    position: absolute;
    top: 1rem;
    margin-left: 1rem;
    .back-button {
    }
}
