.alert.aw-alert {
  margin-top: 1rem;
  .alert-heading {
    font-size: 16px;
  }
  .alert--description {
    font-size: 12px;
    ul {
      padding: 0 0 0 1rem;
    }
  }
  &.alert-success {
    box-shadow: $box-shadow-sm;
    background-color: lighten($brand-success, 80%);
    color: $brand-success;
    //@include gradient-bg($brand-success);
    //border-color: $brand-success;
    hr {
      border-top-color: darken($brand-success, 5%);
    }

    .alert-link {
      color: darken($brand-success, 10%);
    }
  }
  &.alert-danger {
    box-shadow: $box-shadow-sm;
    background-color: lighten($brand-danger, 80%);
    color: $brand-danger;
    //@include gradient-bg($brand-success);
    //border-color: $brand-danger;
    hr {
      border-top-color: darken($brand-danger, 5%);
    }

    .alert-link {
      color: darken($brand-danger, 10%);
    }
  }
}

.aw-includes {
  display: flex;
  margin-top: 1rem;
  .item {
    //margin: .5rem;
    padding: .5rem;
    border: $border-width solid $border-color;
    width: 50%;
    &:first-child {
      border-right: none;
    }
    .item--title {
      font-size: 14px;
    }
    .item--description {
      font-size: 14px;
      ul {
        padding: 0 0 0 1rem;
      }
    }
  }
}
