.badge {
    font-size: 12px;
    display: inline-block;
    color: #555;
    padding: 5px 10px;
    border-radius: $border-radius;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-right: 5px;
    font-weight: bold;
    &.lg {
        //font-weight: normal;
        font-size: 1rem;
        &:hover {
            border: 1px solid #ccc;
        }
    }
    a {
        color: #555;
        &:hover {
            color: #555;
            text-decoration: none;
        }
    }
    &.colored {
        //color: #fff;
    }
    &.badge-link {
        padding: 0;
        a {
            display: block;
            padding: 5px 10px;
            color: inherit;
        }
        span {
            display: block;
            padding: 5px 10px;
            color: inherit;
        }
    }
}
.badge.styled {
    font-weight: 400;
    color: #fff;
    font-size: 0.875rem;
    &.badge-default {
        color: #555;
    }
}
a .badge.colored:hover {
    opacity: .9;
}
