.breadcrumb {
  font-size: 14px;
  background-color: transparent;
  padding-left: 0;
  margin: 0;
  .breadcrumb-item {
    a {
      color: $brand-primary;
      .active {
        white-space: nowrap;
      }
    }
    .active {
      @include media-breakpoint-down(xs) {
        white-space: nowrap;
        overflow: hidden;
        display: inline-flex;
        max-width: 180px;
        text-overflow: ellipsis;
      }
    }
  }
}
