button:focus {
    outline: none;
}
.btn-light {
    color: #fff;
    &:hover {
        color: darken(#fff, 10%);
    }
    &:focus {
        box-shadow: none;
    }
}
.btn-light-grey {
    color: #e1e1e1;
    &:hover {
        color: darken(#e1e1e1, 10%);
    }
    &:focus {
        box-shadow: none;
    }
}
.btn-light-dark {
    color: $brand-black;
    &:hover {
        color: darken($brand-black, 10%);
        background-color: lighten($brand-black, 70%);
    }
    &:focus {
        box-shadow: none;
    }
}
//.btn-outline-light {
//  border-color: #ced4da;
//  background-color: #fff;
//}

.btn-light-ghost {
    color: $brand-black;
    &:hover {
        color: $brand-black;
        background-color: lighten($brand-black, 70%);
    }
}
.btn-empty-link {
    color: rgba(0, 0, 0, 0.3);
    &:hover {
        background-color: #fff !important;
    }
    &.active {
        background-color: rgba(0, 0, 0, 0.3);
        color: #fff;
        &:hover {
            background-color: $brand-black !important;
        }
    }
}
.btn-fill-link {
    color: $brand-primary;
    padding: 0;
    &:hover {
        color: darken($brand-primary, 10%);
    }
    &:focus {
        box-shadow: none;
    }
}
.btn-fill-empty-link {
    background-color: #e1e1e1;
    border: 1px solid #fff;
    &:hover {
        color: darken(#e1e1e1, 10%);
    }
    &:focus {
        box-shadow: none;
    }
}
.btn-outline-light {
    color: $brand-black;
    &:hover {
        color: $brand-black;
    }
    &:active {
        color: $brand-black !important;
    }
    &:focus {
        box-shadow: none !important;
    }
}
a[role='button'] {
    cursor: pointer;
}
.btn-outline-danger {
    border-color: $brand-danger-darken;
    color: $brand-danger-darken;
}
.btn-empty-danger-link {
    color: $brand-danger-darken;
    &:hover {
        color: darken($brand-danger-darken, 10%);
        background-color: #fff !important;
    }
    &:focus {
        box-shadow: none !important;
    }
}

.btn-grid-link {
    color: #ccc;
    &:focus {
        box-shadow: none;
    }
    &:hover {
        background-color: #fff;
    }
    &.active {
        color: $brand-black;
        //background-color: $brand-black;
        //color: #fff;
        &:hover {
            background-color: #fff;
        }
    }
}
