.dropdown-menu {
  &.dropdown-sm {
    font-size: 14px;
    min-width: 15rem;
    left: -11rem;
    .dropdown-header {
      color: inherit;
      padding: 0.25rem 1rem;
    }
    .dropdown-item {
      padding: 0.25rem 1rem;
    }
    .dropdown-item.active, .dropdown-item:active {
      color: $brand-black;
      text-decoration: none;
      background-color: $brand-dark;
    }
  }
}


.navbar {
  .dropdown {
    .dropdown-toggle {
      position: relative;
      //padding-right: 20px;
      &:after {
        position: absolute;
        top: 18px;
        right: 8px;
      }
    }
  }
}
