//
// Footer
//
.pre-footer {
    height: 80px;
    background-image: linear-gradient(
            to bottom,
            #fff 0%,
            #f7f7f7 100%
    );
}

.bd-footer {
    //margin-top: 80px;
    @include font-size(.875rem);
    text-align: center;
    background-color: #f7f7f7;

    a {
        font-weight: 600;
        color: $gray-700;

        &:hover,
        &:focus {
            color: $link-color;
        }
    }

    //p {
    //    margin-bottom: 0;
    //}

    @include media-breakpoint-up(sm) {
        text-align: left;
    }

    .flex-column {
        a {
            padding-left: 0;
        }

        margin-bottom: 1rem;
    }

    //font-family: 'Roboto-Light', sans-serif;

    h5 {
        //font-weight: bold;
        color: $dark;
    }

    .row:first-child {
        & > div > .d-flex {
            @include media-breakpoint-down(sm) {
                justify-content: center !important;
            }
        }
    }

    .list-group {
        .list-group-item {
            background-color: initial;
            border: none;
            padding: 0.5rem 1rem 0.5rem 0;
        }

        margin-bottom: 1rem;
        @include media-breakpoint-down(sm) {
            justify-content: center;
            margin-top: 1rem;
            .list-group-item {
                padding: 0.5rem 1rem 0.5rem 1rem;
            }
            .list-group-item i {
                font-size: 20px;
            }
        }
    }

    .social {
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        //margin: 0 5px;
        height: 25px;
        width: 25px;
    }
}

.bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem;

    li {
        display: inline-block;

        + li {
            margin-left: 1rem;
        }
    }
}
