.hero {
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: $brand-black;
    position: relative;
    //text-transform: uppercase;
    //font-family: 'Roboto-Light', sans-serif;
    //letter-spacing: 17.5px;

}

.hero-400 {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.hero-one {
    top: 0;
    position: absolute;
    width: 61%;
    background-color: transparent;
    height: 100%;
    clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
    @include media-breakpoint-down(md) {
        clip-path: polygon(0 0, 50vw 0, 40vw 100vh, 0 100vh);
    }
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://source.unsplash.com/lfyKGQWEbew);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-two {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    background-color: transparent;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(https://source.unsplash.com/PRne5FNBRmk);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-full {
    margin: 3rem 0;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.hero-link {
    text-decoration: none;
    color: $brand-black;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: block;
    transition: $transition-base;
    &:hover {
        color: lighten($brand-black, 10%);
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 200px;
        top: 100px;
        left: 0;
        background-color: #fff;
        z-index: 1;
        //clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);

        opacity: .8;
        @include media-breakpoint-up(md) {
            clip-path: polygon(0 0, 79vw 0, 66vw 56vh, 0 100vh);
        }
    }
}
.hero-title-container {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
}

.header-title {

}

.header-sub {
    font-size: 1rem;
}

.header-primary {
    font-size: 3.5rem;
    font-weight: $font-weight-bold;
    display: block;
    //font-weight: 700;
}

h1.beta {
    font-size: 2.6667rem;
    margin-bottom: 0.61875rem;
}

h2.beta {
    font-size: 2rem;
    margin-bottom: 0.61875rem;
}

.regular {
    font-weight: 400;
}

.uppercase {
    text-transform: uppercase;
}

.wrapper {
    //max-width: 53.33rem;
    margin: 0 auto;
    position: relative;
    //transform: translateY(-50%);
    //top: 50%;
    text-align: center;
    &.is-role-h3 {
        text-align: left;
        h3 {

        }
        p {
            margin-bottom: 0;
        }
    }
}

.italic {
    //font-style: italic;
}

.montserrat {
    //font-family: $font-family-sans-serif-secondary;
}

.line-after-heading:before {
    content: '';
    display: block;
    position: absolute;
    background-color: $secondary;
    width: 4rem;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -1rem;
}
.is-role-h2 .line-after-heading:before {
    bottom: 0;
}
