.btn-fa-count {
  position: relative;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background-color: $brand-danger;
    border-radius: 100%;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
