.aw-input-count-up {
    width: 130px;
    @include media-breakpoint-down(xs) {
        width: 100%;
    }
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: #fff;
        opacity: .1;
        left: 0;
        z-index: 0;
    }
    .btn {
        //position: absolute;
        width: 35px;
        &:first-child {
            //margin-right: 5px;
        }
        &:last-child {
            //margin-left: 5px;
        }

        z-index: 1;
    }
    input {
        border: 1px solid #eeeeee;
        box-sizing: border-box;
        margin: 0;
        outline: none;
        padding: 10px;
        text-align: center;
    }
    input[type="number"] {
        appearance: none;
        -moz-appearance: textfield;
        -webkit-appearance: none;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}
