@import "./../components/mixins/is-disabled";

.form-group.is-disabled {
    @include is-disabled;
}
.input-group.is-disabled {
    @include is-disabled;
    .input-group-btn {
        z-index: 1;
    }
}
.invalid-feedback {
    font-size: 100%;
    margin-top: 0;
}
