.modal-content {
  border-radius: $border-radius;
  border: none;
}

.modal-90w {
  width: 90%;
  max-width: none !important;
  @include media-breakpoint-down(sm) {
    width: calc(100% - 10px);
    margin-left: 5px;
    margin-right: 5px;
  }
}

.modal-newsletter {
  color: #999;
  padding: 30px;
  width: 100%;

  h4 {
    color: #000;
    font-size: 30px;
    margin: 1rem 0;
    font-weight: bold;
    text-align: center;
  }

  .icon-box {
    color: $brand-primary;
    display: inline-block;
    z-index: 9;
    text-align: center;
    position: relative;
    margin-bottom: 10px;

    i {
      font-size: 110px;
    }
  }

  .form-control {
    box-shadow: none;
    border-color: #dbdbdb;

    //&:focus {
    //  border-color: #f95858;
    //  box-shadow: 0 0 8px rgba(249, 88, 88, 0.4);
    //}
  }

  .form-control, .btn {
    min-height: 46px;
    border-radius: 0;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  .btn {
    //color: #fff;
    //background: #f95858;
    //background: $brand-primary;
    //text-decoration: none;
    //transition: all 0.4s;
    //line-height: normal;
    padding: 6px 20px;
    min-width: 150px;
    margin-left: 6px !important;
    border: none;
    @include media-breakpoint-down(md) {
      margin-left: 0 !important;
      margin-top: 10px;
    }
  }

  //.btn:hover, .btn:focus {
  //  box-shadow: 0 0 8px rgba(249, 88, 88, 0.4);
  //  background: #f72222;
  //  outline: none;
  //}

  .input-group {
    margin-top: 30px;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  .hint-text {
    margin: 100px auto;
    text-align: center;
  }
}

.modal-newsletter-2 {
  color: #999;
  font-size: 15px;
  .modal-content {
    padding: 40px;
    border-radius: 0;
    border: none;
  }
  .modal-header {
    border-bottom: none;
    position: relative;
    text-align: center;
    border-radius: 5px 5px 0 0;
  }
  h4 {
    color: #000;
    text-align: center;
    font-size: 30px;
    margin: 0 0 25px;
    font-weight: bold;
    text-transform: capitalize;
  }
  .icon-box {
    color: #7265ea;
    display: inline-block;
    z-index: 9;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    i {
      font-size: 110px;
    }
  }
  .form-control, .btn {
    min-height: 46px;
    border-radius: 3px;
  }
  .form-control {
    box-shadow: none;
    border-color: #dbdbdb;
    &:focus {
      border-color: #7265ea;
      box-shadow: 0 0 8px rgba(114, 101, 234, 0.5);
    }
  }
  .btn {
    color: #fff;
    border-radius: 4px;
    background: #7265ea;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    padding: 6px 20px;
    min-width: 150px;
    border: none;
  }
  .btn:hover, .btn:focus {
    background: #4e3de4;
    outline: none;
  }
  .input-group {
    margin: 30px 0 15px;
  }
  .hint-text {
    margin: 100px auto;
    text-align: center;
  }
}
