.navbar-nav {
  .nav-link.active {
    position: relative;

    &:after {
      display: block;
      position: absolute;
      content: '';
      bottom: 0;
      background-color: #ccc;
      height: 2px;
      width: calc(100% - 0.5rem);
      left: 0.5rem;
    }
  }

  .nav-link:first-child.active {
    &:after {
      left: 0;
      width: calc(100% - 0.5rem);
    }
  }

  .dropdown.nav-item {
    .nav-link {
      position: relative;
      padding-right: 20px;
      &:after {
        position: absolute;
        top: 20px;
      }
    }
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: $brand-light;
}
.nav-pills .nav-link {
  color: $nav-pills-link-color;
}

.navbar-info {
  padding: 0;
  .nav-link {
    font-size: 14px;
  }
}
.nav-favourite {
  justify-content: center;
  .nav-item {
    width: 200px;
    text-align: center;
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
  @include media-breakpoint-down(xs) {
    margin-bottom: 1rem;
  }
}
