.pagination-primary.pagination {
  .page-link {
    color: $brand-black;
  }
  .page-item.active .page-link {
    color: #fff;
    background-color: $brand-black;
    border-color: $brand-black;
  }
  .page-item.disabled .page-link {
    background-color: #ccc;
  }
}
