.aw-tabs {
    .nav {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
        border: none;

        .nav-item {
            width: 25%;
            border: none;
            text-align: center;
            color: #929daf;
            padding: 5px auto;

            &:focus {
                outline: none;
            }

            &.active {
                color: $brand-grey;
                //background-color: #ccc3;
                border: 1px solid #e4e7e7;
                border-bottom: 1px solid transparent;
            }

            &:not(.active) {
                border: 1px solid transparent;
                border-bottom: 1px solid #e4e7e7;
            }
        }

        border-bottom: 1px solid #e4e7e7;
        @include media-breakpoint-down(xs) {
            font-size: 12px;
        }
    }
}

.nav.nav-pills {
    .nav-link {
        outline: none;
    }
}

.aw-tabs-nav {
    .nav {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        justify-content: flex-start;
        align-items: flex-end;
        flex-wrap: wrap;
        border: none;

        .nav-item {
            padding: 0.5rem 1rem;
            background-color: transparent;
            border: none;
            margin-bottom: -1px;
            &.active {
                color: $brand-grey;
                //background-color: #ccc3;
                border: 1px solid #e4e7e7;
                border-bottom: 1px solid #fff;
            }

            &:not(.active) {
                border: 1px solid transparent;
                //border-bottom: 1px solid #e4e7e7;
            }
        }

        border-bottom: 1px solid #e4e7e7;
        @include media-breakpoint-down(xs) {
            font-size: 12px;
        }
    }
}

.aw-tabs-nav-line {
    .nav {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        justify-content: flex-start;
        align-items: flex-end;
        flex-wrap: wrap;
        border: none;

        .nav-item {
            padding: 0.5rem 1rem;
            background-color: transparent;
            border: none;
            margin-bottom: -1px;
            color: $brand-grey;
            outline: none;
            &.active {
                //background-color: #ccc3;
                //border: 1px solid #e4e7e7;
                border-bottom: 2px solid $brand-primary;
                cursor: default;
                color: #333;
            }
            &:hover {
                color: #333;
                text-decoration: none;
            }

            &:not(.active) {
                //border: 1px solid transparent;
                //border-bottom: 1px solid #e4e7e7;
            }
        }

        border-bottom: 1px solid #e4e7e7;
    }
}
.aw-tabs-nav-pills {
    .nav {
        .nav-item {
            background-color: transparent;
            color: $brand-grey;
            border-left: 1px solid #e4e7e7;
            &.active {
                //background-color: #ccc3;
                //border: 1px solid #e4e7e7;
                border-left: 2px solid $brand-primary;
                cursor: default;
                color: #333;
            }
        }
    }
}
