//@import url(https://fonts.googleapis.com/css?family=Roboto:300);

$morro: #aacbe6;
$cayucos: #9cd0ff;
$bahamas: #3cc0fe;
$capetown: #27a5fd;
$cabo: #0066ff;
$reynisfjara: #34373e;
$svalbard: #d2e9fa;

$bahamasAlpha: rgba($bahamas, 0.7);
$caboAlpha: rgba($cabo, 0.6);

$capetownShadow: rgba($capetown, 0.4);

$widgetHeight: 400px;
$pictoBackdropDiameter: $widgetHeight * 1.4;
$pictoFrameDiameter: $pictoBackdropDiameter * .6;
$pictoCloudBigDiameter: $pictoFrameDiameter * .65;
$pictoCloudSmallDiameter: $pictoCloudBigDiameter * .7;
$pictoCloudFillSize: $pictoCloudSmallDiameter * .7;
$iconCloudBigDiameter: 36px;
$iconCloudSmallDiameter: $iconCloudBigDiameter * .65;
$iconCloudFillSize: $iconCloudSmallDiameter * .7;


.widget {
    background: linear-gradient(to bottom right, $bahamas 20%, $cabo);
    width: 100%;
    //height: $widgetHeight;
    border-radius: $card-radius;
    box-shadow: $card-shadow;
    padding: 10px;
    //box-shadow: 0px 60px 80px -20px $capetownShadow;
    position: relative;
    overflow: hidden;

    .details {
        //font-family: Roboto, sans-serif;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-left: 60px;
    }

    .temperature {
        color: white;
        font-weight: 300;
        font-size: 10em;
    }

    .summary {
        color: $svalbard;
        font-size: 2em;
        font-weight: 300;
        width: 260px;
        margin-top: -16px;
        padding-bottom: 16px;
        border-bottom: 2px solid $cayucos;
        margin-left: 8px;
    }

    .summaryText {
        margin: 0;
        margin-left: 56px;
    }

    .precipitation, .wind {
        color: $svalbard;
        font-size: 1.6em;
        font-weight: 300;
        margin-left: 8px;
    }

    .precipitation {
        margin-top: 16px;
    }

    .wind {
        margin-top: 4px;
    }
}

.card__weather {
    //background: #fff;
    box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    width: 300px;
    height: 200px;
    margin: 20px 0;
    border-radius: 5px;
    //border: solid 0px #fff;
    position: relative;
    padding: 16px 20px;
    .details {
        //position: absolute;
        //top: 0;
        //left: 0;
        //right: 0;

        color: $brand-black;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        transition: color 2s ease;

        .thunder & {
            color: #ddd;
        }

        .right {
            text-align: right;
        }

        .date {
            margin: 4px 0;
        }

        .summary {
            font-weight: 600;
            font-size: 22px;
        }

        .temp {
            font-size: 60px;
            line-height: 60px;

            span {
                font-size: 18px;
                line-height: 30px;
                vertical-align: top;
                margin-left: 5px;
            }
            &.temp-sm {
                font-size: inherit;
                line-height: inherit;
                display: inline;
                span {
                    font-size: 10px;
                    line-height: 17px;
                    vertical-align: top;
                    margin-left: 1px;
                }
            }
        }
    }
}

.card__weather {
    background-color: $brand-dark;
    transition: background-color 2s ease;
}
