.jumbotron {
  //background-image: url(https://images.unsplash.com/photo-1468387576571-ee44d4c52d82?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2927&h=1000&fit=crop&ixid=eyJhcHBfaWQiOjF9);
  //background-size: 100%;
  //filter: brightness(0.5);
  //color: #fff;
  margin-bottom: 0;
}
.jumbotron--search {
  padding-top: 2rem;
  padding-bottom: 2rem;
  h2 {
    margin-bottom: 0;
  }
  .btn-outline-light {
    &:focus {
      box-shadow: none;
    }
  }
}
