@import "../tour/mixins";

.card-polo {
    //max-width: 300px;
    background-color: #FFF;
    border-radius: $card-radius;
    box-shadow: $card-shadow;
    overflow: hidden;
    position: relative;
    //margin: 10px auto;
    transition: $transition-base;
    &:hover {
        box-shadow: $card-shadow-hover;
    }
    .card-polo--image {
        //visibility: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 135px;
        border-top-left-radius: $card-radius;
        border-top-right-radius: $card-radius;
        position: relative;
    }
    .card-polo--content {
        position: relative;
        padding: 1rem;
        background-color: #FFF;
        &:before {
            content: "";
            position: absolute;
            height: 20px;
            top: -10px;
            left: 0px;
            right: 0px;
            background-color: #FFF;
            z-index: 0;
            transform: skewY(3deg);
        }
    }
    .card-polo--title {

    }
    .card-polo--description {
        margin-bottom: .5rem;
    }
    .card-polo--media {
        display: flex;
        justify-content: space-between;
        width: 100%;

        li {
            background-color: transparent;
            padding: 0;
            border: none;
        }
        .btn:hover {
            background-color: rgba(153, 153, 153, 0.2);
        }

        .btn:focus {
            box-shadow: none;
        }
        .btn.is-loading {
            &:after {
                border-left-color: $brand-black;
                border-bottom-color: $brand-black;
            }
        }
    }
}
