// base
.card__flip {
    position: relative;
    width: 100%;
    transition: all 0.4s;
    box-shadow: 0 0 40px -25px rgba(0, 0, 0, 0.5);

    &:hover {
        box-shadow: 0 0 80px -25px rgba(0, 0, 0, 0.5);
        transition: all 0.4s;
    }

    .front {
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
        width: inherit;
        background-size: cover !important;
        background-position: center !important;
        height: 220px;
        padding: 1em 2em;
        background: #313131;
        border-radius: $card-radius;
        box-shadow: $card-shadow;
    }

    .front {
        transform: rotateY(0deg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        &:after {
            content: '';
            display: block;
            position: absolute;
            background-image: linear-gradient(
                    to bottom,
                    hsla(0, 0%, 0%, 0) 0%,
                    hsla(0, 0%, 0%, 0.009) 11.7%,
                    hsla(0, 0%, 0%, 0.034) 22.1%,
                    hsla(0, 0%, 0%, 0.072) 31.2%,
                    hsla(0, 0%, 0%, 0.123) 39.4%,
                    hsla(0, 0%, 0%, 0.182) 46.6%,
                    hsla(0, 0%, 0%, 0.249) 53.1%,
                    hsla(0, 0%, 0%, 0.320) 58.9%,
                    hsla(0, 0%, 0%, 0.394) 64.3%,
                    hsla(0, 0%, 0%, 0.468) 69.3%,
                    hsla(0, 0%, 0%, 0.540) 74.1%,
                    hsla(0, 0%, 0%, 0.607) 78.8%,
                    hsla(0, 0%, 0%, 0.668) 83.6%,
                    hsla(0, 0%, 0%, 0.721) 88.7%,
                    hsla(0, 0%, 0%, 0.762) 94.1%,
                    hsla(0, 0%, 0%, 0.790) 100%
            );
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    &.is-skeleton {
        .front:after {
            background-image: none;
        }
    }

    .card--socials {

    }

    .flip--rating {
        position: absolute;
        top: 25px;
        right: 35px;
        font-size: 12px;
        //@include rating-icons;

        @include media-breakpoint-down(xs) {
            width: 100%;
            right: 0;
            font-size: $font-size-base;
            top: 45px;
        }
    }

    .flip--title {
        text-shadow: 1px 1px rgba(0, 0, 0, 0.04),
        2px 2px rgba(0, 0, 0, 0.04),
        3px 3px rgba(0, 0, 0, 0.04),
        4px 4px rgba(0, 0, 0, 0.04),
        0.125rem 0.125rem rgba(0, 0, 0, 0.04),
        6px 6px rgba(0, 0, 0, 0.04),
        7px 7px rgba(0, 0, 0, 0.04),
        8px 8px rgba(0, 0, 0, 0.04),
        9px 9px rgba(0, 0, 0, 0.04),
        0.3125rem 0.3125rem rgba(0, 0, 0, 0.04),
        11px 11px rgba(0, 0, 0, 0.04),
        12px 12px rgba(0, 0, 0, 0.04),
        13px 13px rgba(0, 0, 0, 0.04),
        14px 14px rgba(0, 0, 0, 0.04),
        0.625rem 0.625rem rgba(0, 0, 0, 0.04),
        16px 16px rgba(0, 0, 0, 0.04),
        17px 17px rgba(0, 0, 0, 0.04),
        18px 18px rgba(0, 0, 0, 0.04),
        19px 19px rgba(0, 0, 0, 0.04),
        1.25rem 1.25rem rgba(0, 0, 0, 0.04);

        h2 {
            color: white;
            text-transform: uppercase;
        }
    }

    .flip--media {
        display: flex;
        justify-content: space-between;
        width: 100%;

        li {
            background-color: transparent;
            padding: 0;
            border: none;
        }
        .btn:hover {
            background-color: rgba(153, 153, 153, 0.2);
        }

        .btn:focus {
            box-shadow: none;
        }
    }
}
