@import "../news/mixins";
@import "../tour/mixins";

.card__snipe {
    background-color: #000000;
    color: #ffffff;
    //font-family: 'Open Sans', Arial, sans-serif;
    //font-size: 16px;
    //line-height: 1.6em;
    //margin: 10px;
    //max-width: 310px;
    //min-width: 250px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
    height: 325px;

    transition: $transition-base;
    box-shadow: $card-shadow;

    &:hover {
        box-shadow: $card-shadow-hover;
    }
    a {
        width: 100%;
        height: 100%;
        display: block;
    }


    &:after {
        content: '';
        display: block;
        position: absolute;
        //background-image: linear-gradient(
        //        to bottom,
        //        hsla(0, 0%, 0%, 0) 0%,
        //        hsla(0, 0%, 0%, 0.009) 11.7%,
        //        hsla(0, 0%, 0%, 0.034) 22.1%,
        //        hsla(0, 0%, 0%, 0.072) 31.2%,
        //        hsla(0, 0%, 0%, 0.123) 39.4%,
        //        hsla(0, 0%, 0%, 0.182) 46.6%,
        //        hsla(0, 0%, 0%, 0.249) 53.1%,
        //        hsla(0, 0%, 0%, 0.320) 58.9%,
        //        hsla(0, 0%, 0%, 0.394) 64.3%,
        //        hsla(0, 0%, 0%, 0.468) 69.3%,
        //        hsla(0, 0%, 0%, 0.540) 74.1%,
        //        hsla(0, 0%, 0%, 0.607) 78.8%,
        //        hsla(0, 0%, 0%, 0.668) 83.6%,
        //        hsla(0, 0%, 0%, 0.721) 88.7%,
        //        hsla(0, 0%, 0%, 0.762) 94.1%,
        //        hsla(0, 0%, 0%, 0.790) 100%
        //);
        background-image: linear-gradient(
                to bottom,
                hsla(0, 0%, 0%, 0) 0%,
                hsla(0, 0%, 0%, 1) 100%
        );
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .card__snipe--image {
        //max-width: 100%;
        //vertical-align: top;
        //position: relative;
        //opacity: 0.75;
    }
    .card__snipe--background {
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 325px;
        position: relative;
    }
    .card__snipe--category {
        position: absolute;
        top: 10px;
        left: 10px;
        //text-align: right;
        //margin-bottom: .5rem;
        @include news--categories;
        z-index: 2;
        div[data-tooltipped] {
            width: 100%;
            display: block !important;
        }
    }
    .card__snipe--date {
        background-color: #fff;
        color: #333;
        font-size: 18px;
        font-weight: $font-weight-bold;
        min-height: 48px;
        min-width: 48px;
        padding: 10px 0;
        position: absolute;
        right: 15px;
        text-align: center;
        text-transform: uppercase;
        top: 0;
        span {
            display: block;
            line-height: 14px;
        }
        .month {
            font-size: 11px;
        }
    }
    .card__snipe--description {
        padding: 25px 20px 25px;
        position: absolute;
        bottom: 0;
        color: #fff;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        p {
            margin-bottom: 0;
        }
    }
    &.is-skeleton {
        background-color: transparent;
        &:after {
            content: none;
        }
        .card__snipe--date .react-loading-skeleton {
            border-radius: 0;
        }
    }
    .card__snipe--socials {
        @include tour--social;
        z-index: 1;
    }
}
.card__snipe-pine {
    font-family: 'Lato', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 250px;
    max-width: 310px;
    width: 100%;
    background-color: #ffffff;
    color: #2B2B2B;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    &--image {
        max-width: 100%;
        vertical-align: top;
        position: relative;
    }
}
