.card__movie {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: $card-radius;
    transition: all 0.4s;
    box-shadow: 0 0 40px -25px rgba(0, 0, 0, 0.5);

    &:hover {
        box-shadow: 0 0 80px -25px rgba(0, 0, 0, 0.5);
        transition: all 0.4s;
    }
    .card__movie--section {
        position: relative;
        width: 100%;
        height: 100%;
        background-blend-mode: multiply;
        z-index: 2;
        border-radius: $card-radius;
        padding: 25px;
        background: linear-gradient(to right, #fff 50%, transparent 100%);
    }

    .card__movie--background {
        width: 100%;
        background-position: 50% 50% !important;
        @include media-breakpoint-down(sm) {
            background-image: none !important;
        }
        position: absolute;
        top: 0;
        z-index: 1;
        height: 100%;
        right: 0;
        background-size: cover;
        border-radius: $card-radius;
    }

    .card__movie--header {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .card__movie--rating {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 12px;
    }
    .card__movie--title {
        display: flex;
        align-items: center;
        @include media-breakpoint-down(xs) {
            flex-shrink: 1;
        }
    }
    .card__movie--description {
        font-size: 14px;
    }
    .card__movie--media {
        display: flex;
        justify-content: space-between;
        width: 100%;

        li {
            background-color: transparent;
            padding: 0;
            border: none;
        }
        .btn:hover {
            background-color: rgba(153, 153, 153, 0.2);
        }

        .btn:focus {
            box-shadow: none;
        }

        @include media-breakpoint-down(xs) {
            .link-continue a {
                color: #333;
            }
        }
    }
    .card__movie--logo {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
        @include media-breakpoint-down(xs) {
            flex-shrink: 0;
            flex-basis: 50px;
        }
    }
}
