@import "../tour/mixins";

.card__tale {
    border-radius: $card-radius;
    box-shadow: $card-shadow;
    border: none;
    transition: all 0.4s;
    position: relative;
    overflow: hidden;

    &:hover {
        box-shadow: $card-shadow-hover;
    }

    .card__tale--container {
        &.is--cancellation {
            filter: grayscale(.8);
        }
        &.is--announcement {
            //filter: grayscale(.8);
        }
    }

    .card__tale--up {

    }

    .card__tale--img {
        @include tour--img;
        &.is-gallery {
            top: 0;
            left: 0;
            position: absolute;
        }
    }
    .card__tale--logo {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
        position: absolute;
        left: 24px;
        top: -24px;
        border: 2px solid #fff;
    }
    .card_tale--main {
        width: 100%;
        height: 235px;
        border-top-left-radius: $card-radius;
        border-top-right-radius: $card-radius;
        position: relative;
    }
    .card__tale--multiples {
        .list-group {
            margin-bottom: .5rem;
        }
        .accordion {
            display: inline;
            padding: 0;
            & > button {
                padding: 0;
                margin-bottom: 2px;
                &:focus {
                    box-shadow: none;
                    text-decoration: none;
                }
            }
        }
    }
    .card__tale--multiples-list {
        //position: absolute;
        //top: 50px;
        //z-index: 1;
        //left: 10px;
        //padding: 5px 10px;
        //&:after {
        //    content: '';
        //    position: absolute;
        //    top: 0;
        //    left: 0;
        //    width: 100%;
        //    height: 100%;
        //    background-color: #fff;
        //    opacity: .5;
        //    z-index: -1;
        //}
        .list-group-item {
            background-color: transparent;
        }
    }
    .card__tale--gallery-container {
        width: 100%;
        height: 235px;
        .carousel {
            padding: 0;
            height: 235px;
            margin-bottom: 0;
            .flickity-page-dots {
                bottom: 10px;
                .dot {
                    margin: 0 4px;
                }
            }
            transition: $transition-base;
            &:hover {
                .flickity-prev-next-button {
                    //visibility: visible;
                }
            }
            .flickity-page-dots {
                .dot {
                    background: $brand-primary;
                }
            }
        }
        &.__no-dots {
            .carousel {
                .flickity-page-dots {
                    display: none;
                }
                .flickity-prev-next-button {
                    display: none;
                }
            }
        }
        &.__is-mobile {
            .carousel .flickity-prev-next-button {
                display: none;
            }
        }
    }

    //.card__tale--full_image {
    //    @include tour--full_img;
    //}
    //
    //.card__tale--background {
    //    @include tour--background;
    //}

    .card__tale--date {
        @include tour--date;
    }

    .card__tale--socials {
        @include tour--social;
        z-index: 1;
    }

    .card__tale--tag {
        @include tour--tag;
        z-index: 1;
    }

    .card__tale--info {
        z-index: 2;
        background-color: #fff;
        border-bottom-left-radius: $card-radius;
        border-bottom-right-radius: $card-radius;
        padding: 11px 24px 16px 24px;
        // 11px = направление 21px + 11px = 32px оптимально с логотипом по центру
        position: relative;
    }

    .card__tale--organization {
        font-size: 13px;
        //text-transform: uppercase;
        display: flex;
        justify-content: space-between;
    }

    .card__tale--title {
        margin-bottom: .5rem;
    }

    .card__tale--direction {
        text-align: right;
        //position: absolute;
        //top: 14px;
        //ight: 24px;
    }

    .card__tale--description {
        margin-bottom: 0.5rem;
        font-size: 14px;
    }

    .card__tale--price {
        @include tour--price;
    }

    &.is-cancellation {
        filter: grayscale(.8);
    }

    .card__tale--cancellation {
        @include tour--cancellation;
    }
    .card__tale--announcement {
        @include tour--announcement;
    }
    &.is-small {
        .card__tale--container {
            display: flex;
        }
        .card_tale--main {
            width: 165px;
            height: 165px;
            @include media-breakpoint-down(sm) {
                width: 100px;
                height: 100px;
            }
        }
        .card__tale--info {
            width: calc(100% - 165px);
            @include media-breakpoint-down(sm) {
                width: calc(100% - 100px);
            }
            padding: 11px 24px 11px 24px;
        }
        .card__tale--img {
            height: 165px;
            width: 165px;
            @include media-breakpoint-down(sm) {
                height: 100px;
                width: 100px;
            }
        }
        .card__tale--price {
            @include media-breakpoint-down(sm) {
                flex-direction: column;
                align-items: flex-start;
                div:last-child {
                    width: 100%;
                    text-align: right;
                }
            }
        }
        .card__tale--tag {
            right: 20px;
            left: inherit;
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
        .card__tale--gallery-container {
            height: 165px;
            @include media-breakpoint-down(sm) {
                height: 100px;
            }
            .carousel {
                height: 165px;
                @include media-breakpoint-down(sm) {
                    height: 100px;
                }
            }
        }
        .card__tale--date {
            top: 10px;
            right: 10px;
        }
        .card__tale--logo {
            left: 10px;
            bottom: 10px;
            top: inherit;
            z-index: 1;
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
        .card__tale--title-description-price {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
        .card__tale--description {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
        .card__tale--direction {
            text-align: left;
            margin-bottom: .5rem;
            @include media-breakpoint-down(sm) {
                margin-bottom: 0;
            }
        }
    }
}
