// Brands

$brand-primary: #41b882;
$brand-dark: #f2f7ff;
//$brand-dark: #5B6580;
//$brand-dark: #876051;
$brand-k: #876051;
$brand-white: #fff;

//brand-primary: #3097D1;
$brand-secondary: #813c1c;
//$brand-info: #8eb4cb;
$brand-info: #7FBFFB;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #fb5f4f;
$brand-danger-darken: #dc3545;

//$brand-grey: #5B6580;
$brand-grey: #6c757d;
$brand-light: #fff;

$brand-black: #333;





// -----------------------------
// @custom
// Которые перекрыты в variables-bootstrap
// -----------------------------
$gray-100: transparent;
$gray-900: $brand-grey;

$body-color: $brand-black;

$font-family-sans-serif: "GT Eesti Pro Display", 'Segoe UI', sans-serif;

$font-size-base: .875rem;

$input-placeholder-color: lighten($brand-grey, 20%);

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$text-muted: $brand-grey;

$list-group-border-color: #e4e7e7;

$component-active-color: $brand-black;

$nav-link-padding-y: .5rem;
$nav-link-padding-x: 1rem;

// -----------------------------
// Дополнительные
// -----------------------------
$font-family-sans-serif-secondary: "GT Eesti Pro Display", 'Segoe UI', sans-serif;
$circle-width: 10px;

$card-radius: 0;
$card-shadow: 0 0 40px -25px rgba(0, 0, 0, 0.5);
$card-shadow-light: 0 0 27px -17px rgba(0, 0, 0, 0.5);
$card-shadow-hover: 0 0 80px -25px rgba(0, 0, 0, 0.5);

$nav-pills-link-active-color: $brand-black;
$nav-pills-link-active-bg: $brand-dark;
$nav-pills-link-color: $brand-grey;

$font-weight-regular: normal !default;
$font-weight-medium: 500 !default;
$font-weight-bold: bold !default;
// $theme-colors: ("dark": $brand-dark, "primary": $brand-primary);
// $link-color: $brand-primary;

$dropdown-padding-x: 0 !default;
$table-th-font-weight: null !default;
$navbar-nav-scroll-max-height:      75vh !default;

//$font-size-lg: .9rem;

//$input-font-size: $font-size-base;
//$input-btn-font-size: $font-size-base;
//$btn-font-size: $font-size-base;
//$line-height-base: 1.4;

/*
 *
 *
 */

// $btn-border-radius: $border-radius;
// $btn-border-radius-lg: $border-radius;
// $btn-border-radius-sm: $border-radius;

// $list-group-border-radius: $border-radius;



// $input-border-radius: $border-radius;
// $input-border-radius-sm: $border-radius;
// $custom-checkbox-indicator-border-radius: $border-radius;
// $custom-select-border-radius: $border-radius;
// $nav-tabs-border-radius: $border-radius;
// $nav-pills-border-radius: $border-radius;
// $dropdown-border-radius: $border-radius;
// $card-border-radius: $border-radius;
// $tooltip-border-radius: $border-radius;



//$nav-pills-link-active-color: $brand-black;
//$nav-pills-link-active-bg: $brand-dark;

