/**
 * packages
 */
@import 'bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
//@import '~react-date-picker/dist/DatePicker.css';
//@import '~react-datetime-picker/dist/DateTimePicker.css';
@import '~react-dates/lib/css/_datepicker.css';
//@import '~react-dates/src/';
@import '~react-bootstrap-typeahead/css/Typeahead.css';
@import '~react-tippy/dist/tippy.css';
//@import '~tippy.js/dist/tippy.css';
@import '~react-toastify/dist/ReactToastify.css';
@import '~flickity/css/flickity.css';
@import '~cropperjs/dist/cropper.min.css';
/**
 * Font face
 */
@import './fontface';
/**
 * layout
 */
@import './layout/footer';
@import './layout/navigation';
@import './layout/modal';
@import './layout/breadcrumb';
@import './layout/badge';
@import './layout/hero';
@import './layout/tabs';
@import './layout/tabs-mobile';
@import './layout/jumbotron';
@import './layout/blockquote';
@import './layout/link';
@import './layout/button';
@import './layout/custom-checkbox';
@import './layout/pagination';
@import './layout/weather';
@import './layout/dropdown';
@import './layout/list-group';
@import './layout/alert';
@import './layout/markdown';
@import './layout/icons';
@import './layout/input-file';
@import './layout/input';
@import './layout/input-count';
/**
 * components
 */
//@import './components/card/tour';
//@import './components/card';
//@import './components/card_flip';
//@import './components/card_inter';
@import './components/select';
@import './components/typeahead';
@import './components/datetime';
@import './components/airbnb-datepicker';
@import './components/gallery';
@import './components/ribbon';
@import './components/tabbar';
@import './components/notifications';
@import './components/read-more-button';
@import './components/carousel';
@import './components/scroll-up-button';
@import './components/timeline';
@import './components/tooltip';
@import './components/svg-weather';
@import './components/comments';
@import './components/cookie-banner';
@import './components/loader/loader';
@import './components/sidebar';
@import './components/crop';
@import './components/direction';
@import './components/fslightbox';
@import './components/news-banner';
@import './components/sidebar/notifications';
@import './components/accordion';
@import './components/search';
/**
 * project
 */
@import './project/common/common';

@import './project/card/direction';
@import './project/card/organzation';
@import './project/card/tour';
@import './project/card/entertainment';
@import './project/card/news';
@import './project/card/attraction';

@import './project/page/tour';
@import './project/page/organization';
@import './project/page/direction';
@import './project/page/news';
@import './project/page/attraction';
/**
 * auth
 */
@import './auth/login';
@import './auth/register';
/**
 * utilities
 */
@import './utilities/z-index';
@import './utilities/text';
@import './utilities/subscription';
@import './utilities/height';

:focus {
    outline: none;
}
.custom-switch {
    label {
        cursor: pointer;
        user-select: none;
    }
}

.tour-reservation {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .tr-info {

    }
    .tr-actions {

    }
    .tr-table {
        tbody {
            tr:first-child td {
                border-top: none;
            }
            tr td:first-child {
                text-align: left;
            }
            tr td:last-child {
                text-align: right;
            }
        }
    }
}

a.social {
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    &.social-circle {
        margin: 5px !important;
        padding: 5px !important;
        border: 1px solid #f2f7ff;
        transition: $transition-base;
        height: 35px;
        width: 35px;
        &:hover {
            background-color: #f2f7ff;
        }
    }
}

.logo-header {
    &.logo-flat {
        .logo-header-container {
            padding: 5px;
            margin-right: 10px;
            background-color: #fff;
            border-radius: 100%;
            img {
                //border-radius: 100%;
                margin: 0;
                width: 40px;
                height: 40px;
            }
        }
    }
    position: relative;
    img {
        //border: 2px solid #fff;
        //border-radius: 100%;
        width: 50px;
        height: 50px;
        margin-right: .5rem;
    }
    .logo-header-title {
        margin-top: -5px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        h1 {
            font-size: 22px;
            margin-bottom: .25rem;
        }
        p {
            font-size: 12px;
            margin-bottom: 0;
        }
    }
    .logo-env-local {
        opacity: .4;
    }
    .logo-env-development {
        opacity: .4;
    }
    .logo-header-env {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        //text-transform: uppercase;
        filter: blur(.2);
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: -.5rem;
            width: calc(100% + 1rem);
            height: 100%;
            //background-color: #fff;
            opacity: .8;
            z-index: -1;
            //box-shadow: 0 0 10px #fff;
            border-radius: $card-radius;
            filter: blur(.1);
            background-color: transparent;
        }
    }
}
.bd-footer .logo-header {
    &:hover {
        color: inherit;
    }
    .logo-header-title {
        //height: 50px;
        margin-top: 0;
        h1 {
            font-size: 22px;
            margin-bottom: 0;
        }
    }
}

.views-container {
    position: relative;
    .views-buttons {
        position: absolute;
        bottom: 0;
        right: 1rem;
    }
}
