@import "../tour/mixins";
@import "../organization/mixins";
@import "../direction/mixins";

.page__polo {
    .page__polo--img {
        @include tour--img;
    }
    .page__polo--background {
        @include tour--background;
    }
    .page__polo--text-container {
        padding: 3rem;
        box-shadow: $card-shadow;
        .markdown-container {
            font-size: 16px;
        }
        .__preview {
            font-size: 16px;
        }
        @include media-breakpoint-down(xs) {
            padding: 0;
            box-shadow: none;
            .markdown-container {
                //text-align: justify;
            }
        }
    }
    .page__polo--socials {
        //margin-top: 5px;
        @include tour--socials;
        //position: absolute;
        //bottom: -20px;
        justify-content: flex-end;
    }
}
