@import "../tour/mixins";
@import "../organization/mixins";
@import "../direction/mixins";

.page__flip {
    .page__flip--img {
        @include tour--img;
    }
    .page__flip--background {
        @include tour--background;
    }
    .page__flip--logo {
        @include tour--logo;
    }
    .page__flip--socials {
        margin-top: 5px;
        @include organization--socials;
        .btn.is-loading {
            &:after {
                border-left-color: $brand-black;
                border-bottom-color: $brand-black;
            }
        }
    }
    .page__flip--text-container {
        padding: 3rem;
        box-shadow: $card-shadow;
        @include media-breakpoint-down(xs) {
            padding: 0;
            box-shadow: none;
            .markdown-container {
                text-align: justify;
            }
        }
    }
}
