@import "../tour/mixins";
@import "../organization/mixins";
@import "../direction/mixins";

.page__snipe {
    .page__snipe--img {
        @include tour--img;
    }
    .page__snipe--background {
        @include tour--background;
    }
    .page__snipe--logo {
        @include tour--logo;
    }
    .page__snipe--text-container {
        padding: 3rem;
        box-shadow: $card-shadow;
        .markdown-container {
            font-size: 16px;
        }
        .__preview {
            font-size: 16px;
        }
        @include media-breakpoint-down(xs) {
            padding: 0;
            box-shadow: none;
            .markdown-container {
                //text-align: justify;
            }
        }
    }
    .page__snipe--category {
        //text-align: right;
        //margin-bottom: .5rem;
        .badge-default {
            font-weight: 400;
            color: #fff !important;
            font-size: $font-size-base !important;
        }
    }
    .page__snipe--socials {
        //margin-top: 5px;
        @include tour--socials;
        //position: absolute;
        //bottom: -20px;
        justify-content: flex-end;
    }
}
