@import "../tour/mixins";
@import "../organization/mixins";

.page__movie {
    .page__movie--img {
        @include tour--img;
        @include media-breakpoint-down(lg) {
            height: inherit;
            width: 100%;
        }
    }
    .page__movie--background {
        @include tour--background;
        .blur {
            background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
            backdrop-filter: blur(2px); // This be the blur
            height: 100%;
            width: 100%;
        }
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
    .page__movie--background--size-vk {
        @include tour--background;
        height: 200px;
        width: 795px;
        @include media-breakpoint-down(lg) {
            height: inherit;
            width: 100%;
        }
    }
    .page__movie--background--size-vk-container {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        @include media-breakpoint-down(lg) {
            position: relative;
        }
    }
    .page__movie--logo {
        @include tour--logo;
    }
    .page__movie--socials {
        //position: absolute;
        //bottom: -1.75rem;
        margin-top: 5px;
        @include organization--socials;
        //width: calc(100% - 2rem + 2px);
        .btn.is-loading {
            &:after {
                border-left-color: $brand-black;
                border-bottom-color: $brand-black;
            }
        }
    }
}

.social-container {
    .list-group-item {
        padding: 0;
        border: 0;
    }
}
