@import "../tour/mixins";
@import "../organization/mixins";

.page__tale {
    .page__tale--img {
        @include tour--img;
    }
    .page__tale--date {
        @include tour--date;
    }
    .page__tale--tag {
        @include tour--tag;
        left: 10px;
    }
    .page__tale--price {
        @include tour--price;
        justify-content: center;
    }
    .page__tale--image {
        @include tour--image;
        cursor: pointer;
    }
    .page__tale--background {
        @include tour--background;
        cursor: pointer;
    }
    .page__tale--logo {
        @include tour--logo;
    }
    .page__tale--socials {
        margin-top: 5px;
        @include tour--socials;
        .btn.is-loading {
            &:after {
                border-left-color: $brand-black;
                border-bottom-color: $brand-black;
            }
        }
    }

    &.is-cancellation {
        filter: grayscale(.8);
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .page__tale--cancellation {
            @include tour--cancellation;
            top: 115px;
        }
    }
}



.tour-video {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: #1a1a1a;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
    .__preview {
        position: absolute;
        img {
            cursor: pointer;
        }
        &.__placeholder {
            transition: 200ms ease-in-out;
            &:hover {
                opacity: .8;
            }
        }
    }
}



.dot-options {
    width: 100%;

    p {
        overflow: hidden;
        font-size: 14px;
    }

    p:after {
        content: '.......................................................................................................................................................';
        display: block;
        white-space: nowrap;
        overflow: hidden;
        opacity: .3;
    }

    p span.is-title {
        float: left;
        margin-right: 10px;
        color: $brand-grey;
    }

    p span.is-content {
        float: right;
        margin-left: 10px;
    }

    p:last-child {
        //margin-bottom: 0;
    }
}


.tour-include-block {
    ul {
        padding-left: 1rem;
    }
}
